@model SSRepository.Models.RecipeModel
@{
    ViewData["Title"] = "Recipe Master";
    ViewData["bdClass"] = "page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.tbl-delete, tr.tbl-delete input {
        background: red;
    }

    .shelf-tblProduct input {
        border: none;
    }
</style>

<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkRecipeId" />
        <input type="hidden" id="hdData" value="@ViewBag.Data" />
        <input type="hidden" id="hdGridIn" value="@ViewBag.GridIn" />
        <input type="hidden" id="hdGridOut" value="@ViewBag.GridOut" />
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="border p-2">
                        <h5>In</h5>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Product</label>
                                    @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkProductId_In" }, { "Class", "val-cus-drp" }, { "event", "" },
                                    { "value", 0 }, { "ExtraParam", "" }, { "text", "" }, { "uri", "" } })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Batch</label> 
                                    @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "Batch_In" }, { "Class", "val-cus-drp" }, { "event", "" },
                                    { "value", 0 }, { "ExtraParam", "FkProductId_In" }, { "text", "" }, { "uri", "" } })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type="text" id="Color_In" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Qty</label>
                                    <input type="number" id="Qty_In" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                     <input type="button" class="btn btn-warning" value="Add" onclick="AddProduct_In()" autocomplete="off">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <table id="tblProduct_In" class="shelf-tblProduct table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Batch</th>
                                            <th>Color</th>
                                            <th>Qty</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="md-height">
                                      @*  @{
                                            int AcNo = -1;
                                        }
                                        @if (Model.Recipe_dtl != null)
                                        {
                                            for (int i = 0; i < Model.Recipe_dtl.Count; i++)
                                            {
                                                AcNo++;
                                                <tr index="0">

                                                    <td class="tabel-td-xs">
                                                        <input readonly="readonly" id="Recipe_dtl_@(i)__Product" name="Recipe_dtl[@i].Product" type="text" value="@Model.Recipe_dtl[i].Product" tabindex="-1">
                                                    </td>

                                                    <td class="tabel-td-xs">
                                                        <input id="Recipe_dtl_@(i)__Mode" name="Recipe_dtl[@i].Mode" type="hidden" value="1">
                                                        <input id="Recipe_dtl_@(i)__PkId" name="Recipe_dtl[@i].PkId" type="hidden" value="@Model.Recipe_dtl[i].FkRecipeId">
                                                        <span class="action-icon" onclick="UpdateProduct(this,@i,'del')">
                                                            <i class="fa fa-trash"></i>
                                                        </span>
                                                    </td>
                                                </tr>

                                            }

                                        }*@
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>In</label>

                    <div id="DDTIn" class="DDT">
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Out</label>
                    <div id="DDTOut" class="DDT">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/master/recipe.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
    </script>
}