@using SSAdmin;
@model SSRepository.Models.TransactionModel
@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        h3 {
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }

        body {
            margin-top: 50px;
            width: 1200px;
            border: 1px solid;
        }

        .table-item {
            width: 100%;
        }

            .table-item th {
                border-right: 1px solid #000;
                border-bottom: 1px solid;
                text-align: center;
            }

            .table-item td {
                border-right: 1px solid #000;
                border-bottom: 1px solid;
            }

        .table-item-top-bottom {
            width: 100%;
        }

            .table-item-top-bottom th {
                border: 0;
                border-bottom: 1px solid;
                text-align: center;
            }

            .table-item-top-bottom td {
                border: 0;
                border-bottom: 1px solid;
            }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        .font-weight-bold {
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div style="   ">
        <table style="width:100%;border-bottom: 1px solid #000;padding: 10px;">
            <tbody>
                <tr>
                    <td style="text-align:left;width:50%">
                        <img src="https://www.bharatdress.com/assets/images/logo.png" style="margin-bottom: 15px;" />
                    </td>
                    <td style="text-align:right;width:50%">
                        <h2 style="padding: 0;margin: 0;text-align:right">@Model.Branch.BranchName</h2>
                        <h3 style="padding: 0;margin: 0;    font-weight: 500;text-transform: uppercase;">
                            @Model.Branch.Address
                            <span>,</span>
                            @Model.Branch.City<span>,</span>@Model.Branch.State<span>-</span>@Model.Branch.Pin
                        </h3>
                        <h3 style="padding: 0;margin: 0;    font-weight: 500;font-size: 16px;">
                            Mobile : @Model.Branch.Mobile<br>
                            GSTIN :  | CIN : <br>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center" colspan="2">
                        <h2 style="padding: 0;margin: 0;text-align:center">Tax Invoice</h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <table style="width: 100%;">

            <tr>
                <td style="width: 50%;">
                    <h3 style=" ">@Model.PartyName</h3>
                    <h3 style=" ">@Model.PartyAddress</h3>
                    <h3>Mobile : @Model.PartyMobile</h3>
                    <h3>Place Of Supply : @Handler.GetStateCode(Model.PartyStateName)-@Model.PartyStateName</h3>
                </td>
                <td style="width: 50%;border-right: 1px solid #000;text-align:right;">
                    <h3>Inv No : @Model.SeriesName@Model.EntryNo</h3>
                    <h3>Date : @Model.EntryDate.ToString("dd/MM/yyyy")</h3>
                </td>

            </tr>


        </table>
        <table class="table-item" style="width: 100%;border-bottom: 0; margin-top:25px;border-top: 1px solid #000;">
            <tr>
                <th>S.N.</th>
                <th colspan="2">Particulars</th>
                <th>Hsn Code</th>
                <th>Qty</th>
                <th>UOM</th>
                <th>Rate</th>
                <th>Taxable Value</th>
                <th>GSt Rate</th>
                <th>Net</th>
            </tr>


            @if (Model.TranDetails != null)
            {
                <tbody>
                    @foreach (var item in Model.TranDetails)
                    {
                        <tr>
                            <td>@item.SrNo</td>
                            <td colspan="2">@item.Product</td>
                            <td>@item.HSNCode</td>
                            <td>@item.Qty</td>
                            <td>PCS</td>
                            <td>@item.Rate</td>
                            <td>@item.TaxableAmt</td>
                            <td>@item.GstRate</td>
                            <td class="text-right">@item.NetAmt</td>
                        </tr>
                    }

                </tbody>

                <tr>
                    <td></td>
                    <td colspan="2" class="text-right font-weight-bold">Total :</td>
                    <td></td>
                    <td class="text-right font-weight-bold"> @Model.TranDetails.Sum(x=>x.Qty)</td>
                    <td></td>
                    <td></td>
                    <td class="font-weight-bold">@Model.GrossAmt</td>
                    <td></td>
                    <td class="text-right font-weight-bold">@Model.NetAmt</td>
                </tr>

            }

        </table>
        <p class="text-left font-weight-bold" style="padding:5px; margin:0;border-bottom: 1px solid;">GST Collection :Rupees @(SSAdmin.Handler.ConvertNumbertoWords(Convert.ToInt32(Model.TaxAmt))) Only</p>
        <table class="table-item">
            <tr>
                <td style="width:75%;margin:0px;padding:0px;    padding-right: 15px;">

                    <table class="table-item-top-bottom" style="border: 1px solid #000;border-bottom: 0; width: 100%;text-align: center;margin-bottom: 10px;margin-top:0px;padding-top:0px;">
                        <tr>
                            <th></th>
                            <th>TAXABLE VALUE</th>
                            <th>IGST %</th>
                            <th>IGST AMT</th>
                            <th>CGST %</th>
                            <th>CGST AMT</th>
                            <th>SGST %</th>
                            <th>SGST AMT</th>
                        </tr>
                        <tr>
                            <td> </td>

                            <td>@Model.GrossAmt</td>
                            <td> </td>
                            <td>@(Model.SgstAmt == 0 ? Model.TaxAmt : 0) </td>
                            <td> </td>
                            <td>@(Model.SgstAmt > 0 ? Model.SgstAmt : 0)</td>
                            <td> </td>
                            <td>@(Model.SgstAmt > 0 ? Model.SgstAmt : 0)</td>
                        </tr>
                    </table>

                    <table class="table-item-top-bottom" style="border: 1px solid #000;border-bottom: 0; width: 100%;text-align: center;margin-bottom: 10px;">
                        <tr>
                            <th>OTH.Charge</th>
                            <th>HSN</th>
                            <th>IGST %</th>
                            <th>IGST AMT</th>
                            <th>CGST %</th>
                            <th>CGST AMT</th>
                            <th>SGST %</th>
                            <th>SGST AMT</th>
                        </tr>
                       

                    </table>
                    <table class="table-item" style="border: 0px">
                        <tr>
                            <td style="border:0px;">
                                <p class="font-weight-bold" style="padding: 7px;margin: 0;">
                                    MRP Total     <span style="margin-left:25px">@Model.TranDetails.Sum(x=>(x.MRP>0?x.MRP:0))</span>
                                </p>
                            </td>
                            <td style="border:0px;">
                                <p class="font-weight-bold" style="padding: 7px;margin: 0;">
                                    Disc Amt : <span style="margin-left:25px">@Model.TotalDiscount</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:25%;margin:0px;padding:0px;   ">
                    <table class="table-item" style=" padding-bottom: 6%;width: 100%;margin-top: -3px;text-align: center;margin-bottom: 25px;padding-right: 1px;">

                       
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;">Other Charges</td>
                            <td class="text-right">0.00 </td>
                        </tr>
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;">Amt. Before GST</td>
                            <td class="text-right">@Model.GrossAmt </td>
                        </tr>
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;">Add GST</td>
                            <td class="text-right">@Model.TaxAmt</td>
                        </tr>
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;">Add CGST</td>
                            <td class="text-right">@(Model.TaxAmt/2)</td>
                        </tr>
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;">Add SGST</td>
                            <td class="text-right">@(Model.TaxAmt / 2)</td>
                        </tr>
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;">Round  Off</td>
                            <td class="text-right">@Model.RoundOfDiff</td>
                        </tr>
                        <tr>
                            <td class="text-left font-weight-bold" style="padding-left: 15px;font-size:24px;">Net Amount</td>
                            <td class="text-right font-weight-bold" style="font-size:24px;">@Model.NetAmt</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
      
       
        <p class="text-left font-weight-bold" style="padding:5px; margin:0;border-bottom: 1px solid;">Total (In Words) : @(SSAdmin.Handler.ConvertNumbertoWords(Convert.ToInt32(Model.NetAmt)))</p>

        <table style="border: 1px solid #000;border-bottom: 0; width: 100%;margin-top: 10px;    padding-top: 10px;text-align: center; ">
            <tr>
                <td class="font-weight-bold text-left">Terms & Conditions:</td>
                <td class="text-right">" Certified that the particulars given above are True & Correct "</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:100px"></td>
            </tr>
            <tr>
                <td class="font-weight-bold text-left">Approved by </td>
                <td class="font-weight-bold text-right">@Model.Branch.BranchName</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:10px"></td>
            </tr>
            <tr>
                <td class="font-weight-bold text-left">Remarks</td>
                <td class="font-weight-bold text-right">Authorised Signatory</td>
            </tr>
        </table>
    </div>


</body>
</html>
