@model SSRepository.Models.LocationModel

@{
    ViewData["Title"] = "Stock Location";
    ViewData["bdClass"] = "page";
}


<div class="master-page-ui">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PKLocationID" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2">Branch<span class="required">*</span> </label>
                    <div class="col-md-6">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKBranchID" },{"name","Branch"}, { "Class", "val-cus-drp" },
                        { "value", Model.FKBranchID }, { "text", Model.Branch }, { "uri", "Branch" }, { "required", "required" },{ "placeholder", "Select Branch"} })
                        
                        <span asp-validation-for="FKBranchID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Name<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <input asp-for="Location" class="form-control" placeholder="Enter Name" required maxlength="50" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Alias</label>
                    <div class="col-md-3">
                        <input asp-for="Alias" class="form-control" maxlength="10" placeholder="Enter Alias" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <button type="button" onclick="GenerateAlias()" class="btn btn-warning">
                            <i class="bi bi-gear-fill me-2" style="color: black;"></i>Auto Generate

                        </button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Address</label>
                    <div class="col-md-6">
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Station / Locality</label>
                    <div class="col-md-3">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKStationID" }, { "Class", "val-cus-drp" },
                        { "value", "" }, { "text", "" }, { "uri", "Station" },{ "placeholder", "Select Station"} })
                        <span asp-validation-for="FKStationID" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKLocalityID" }, { "Class", "val-cus-drp" },
                        { "value", "" }, { "text", "" }, { "uri", "Locality" },{ "placeholder", "Select Locality"} })
                        <span asp-validation-for="FKLocalityID" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Pincode / Phone</label>
                    <div class="col-md-3">
                        <input asp-for="Pincode" type="number" class="form-control input-number" maxlength="6" placeholder="Enter Pincode" />
                        <span asp-validation-for="Pincode" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Phone1" class="form-control input-number" maxlength="10" placeholder="Enter Phone" />
                        <span asp-validation-for="Phone1" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Mobile / Email</label>

                    <div class="col-md-3">
                        <input asp-for="Phone2" class="form-control input-number" pattern="Mobile" maxlength="10" placeholder="Enter Mobile" />
                        <span asp-validation-for="Phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Email" class="form-control" pattern="Email" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Fax / WebSite</label>

                    <div class="col-md-3">
                        <input asp-for="Fax" class="form-control input-number" placeholder="Enter Fax" />
                        <span asp-validation-for="Fax" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Website" class="form-control" placeholder="Enter WebSite" />
                        <span asp-validation-for="Website" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Posting Account</label>
                    <div class="col-md-6">

                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKAccountID" }, { "Class", "val-cus-drp" },
                        { "value", "" }, { "text", "" }, { "uri", "Account" },{ "placeholder", "Select Posting Account"} })
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4 show-checkbox-ui-sl-page">
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="IsBillingLocation">Billing Location</label>
                            <span>  <input asp-for="IsBillingLocation" class="form-check-input" role="switch" type="checkbox"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center form-check form-switch">
                            <label class="form-check-label" for="IsBillingLocation">All Product</label>
                            <span>  <input asp-for="IsAllProduct" class="form-check-input" role="switch" type="checkbox"></span>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="tabs-ui-fmt mt-2" id="scrollfixheader">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="Usertab-tab" data-bs-toggle="tab" data-bs-target="#Usertab" type="button" role="tab" aria-controls="Usertab" aria-selected="false" fdprocessedid="w66vj" tabindex="-1">User</button>
                            @*    <button class="nav-link" id="Producttab-tab" data-bs-toggle="tab" data-bs-target="#Producttab" type="button" role="tab" aria-controls="Producttab" aria-selected="true">Product</button>
                            *@
                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="Usertab" role="tabpanel" aria-labelledby="Usertab-tab" tabindex="-1">
                        <div class="row" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="col-sm-12 mt-3">
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkUserId" }, { "Class", "val-cus-drp" },
                                        { "value", "" }, { "text", "" }, { "uri", "Usermas" },{ "placeholder", "Select User"} })

                                    </div>
                                    <div class="col-sm-1 ">
                                        <span class="btn btn-success" onclick="AddUser();">
                                            <i class="bi bi-plus-lg"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 default-scroll-grid">
                                <table id="tblUserLoc" class="table border tableheader-fixed">                                    
                                    <tbody class="md-height">
                                        
                                        @if (Model.UserLoclnk != null)
                                        {
                                            for (int i = 0; i < Model.UserLoclnk.Count; i++)
                                            {
                                                <tr index="@i">
                                                    <td>
                                                        @Html.TextBoxFor(m => m.UserLoclnk[i].UserName, new { @readonly = true, @tabindex = "-1" })
                                                        @Html.HiddenFor(m => m.UserLoclnk[i].FKUserID)
                                                    </td>
                                                    <td>
                                                        @Html.HiddenFor(x => x.UserLoclnk[i].ModeForm)
                                                        <span class="action-icon" onclick="RowAction(this,@i,'del')">
                                                            <i class="bi bi-x-circle"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }  
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/master/location.js"></script>

}