@model SSRepository.Models.PromotionModel

@{
    ViewData["Title"] = ViewBag.PromotionDuring + " Promotion";
    ViewData["bdClass"] = "page";
}
<style>
    tr.tbl-delete, tr.tbl-delete input {
        background: red;
    }

    .shelf-tblCatSize input {
        border: none;
    }
</style>
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkPromotionId" />
        <input type="hidden" asp-for="PromotionDuring" />

        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input type="date" asp-for="PromotionFromDt" class="form-control" />
                            <span asp-validation-for="PromotionFromDt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <input type="date" asp-for="PromotionToDt" class="form-control" />
                            <span asp-validation-for="PromotionToDt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">From Time</label>
                            <input type="time" asp-for="PromotionFromTime" class="form-control" />
                            <span asp-validation-for="PromotionFromTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">To Time</label>
                            <input type="time" asp-for="PromotionToTime" class="form-control" />
                            <span asp-validation-for="PromotionToTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" asp-for="PromotionName" class="form-control" />
                            <span asp-validation-for="PromotionName" class="text-danger"></span>
                        </div>
                    </div>
                    @*  <div class="col-md-4">
                    <div class="form-group">
                    <label class="control-label">Location </label>

                    @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkLocationId" }, { "Class", "val-cus-drp" }, { "event", "" },
                    { "value", Model.FKLocationId }, { "text", Model.LocationName }, { "uri", "" }})

                    </div>
                    </div>*@

                    @if (ViewBag.PromotionDuring == "Purchase")
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Vendor </label>
                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkVendorId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkVendorId }, { "text", Model.VendorName }, { "uri", "" }})


                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Customer </label>

                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkCustomerId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkCustomerId }, { "text", Model.CustomerName }, { "uri", "" }})

                            </div>
                        </div>
                    }
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Sequence No</label>
                            <input type="number" asp-for="SequenceNo" class="form-control" />
                            <span asp-validation-for="SequenceNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="border p-2">
                            <h5>Location</h5>
                            <div class="row">

                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkLocationId" }, { "Class", "val-cus-drp" }, { "event", "" },
                                        { "value", "" }, { "text", "" }, { "uri", "" }})

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="hidden" id="hidLocationIndex" autocomplete="off" value="">
                                        <input type="button" class="btn btn-warning" value="Add" onclick="addLocations()" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <table id="tblLocation" class="shelf-tblCatSize table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Location</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="md-height">
                                            @{
                                                int AcNo = -1;
                                            }
                                            @if (Model.PromotionLocation_lst != null)
                                            {
                                                for (int i = 0; i < Model.PromotionLocation_lst.Count; i++)
                                                {
                                                    AcNo++;
                                                    <tr index="0">

                                                        <td class="tabel-td-xs">
                                                            <input readonly="readonly" id="PromotionLocation_lst_@(i)__LocationName" name="PromotionLocation_lst[@i].LocationName" type="text" value="@Model.PromotionLocation_lst[i].LocationName" tabindex="-1">
                                                        </td>

                                                        <td class="tabel-td-xs">
                                                            <input id="PromotionLocation_lst_@(i)__Mode" name="PromotionLocation_lst[@i].Mode" type="hidden" value="1">
                                                            <input id="PromotionLocation_lst_@(i)__PkId" name="PromotionLocation_lst[@i].PkId" type="hidden" value="@Model.PromotionLocation_lst[i].PkId">
                                                            <input id="PromotionLocation_lst_@(i)__FkLocationId" name="PromotionLocation_lst[@i].FkLocationId" type="hidden" value="@Model.PromotionLocation_lst[i].FkLocationId">
                                                            <span class="action-icon" onclick="UpdateLocation(this,@i,'del')">
                                                                <i class="fa fa-trash"></i>
                                                            </span>
                                                        </td>
                                                    </tr>

                                                }

                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Apply On</label>
                            <select asp-for="PromotionApplyOn" id="PromotionApplyOn" class="form-control" onchange="hideShow(true)">
                                <option value="Product">Product</option>
                                <option value="Category">Category</option>
                                <option value="Brand">Brand</option>
                                <option value="Invoice Value">Invoice Value</option>
                                <option value="XonX">XonX</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" id="div_Promotionddl">
                            <label class="control-label">Promotion</label>
                            <select asp-for="Promotion" class="form-control" onchange="hideShow(true)">
                                <option value="Free Product">Free Product</option>
                                <option value="Free Qty">Free Qty</option>
                                <option value="Trade Discount">Trade Discount (%)</option>
                                @*     <option value="Scheme Discount">Scheme Discount (%)</option>
                                *@
                                <option value="Free Point">Free Point</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4>Qualifying</h4>
                    </div>

                    <div class=" col-md-4">
                        <label>Amount</label>
                        <input type="text" asp-for="PromotionApplyAmt" class="form-control" />
                        <span asp-validation-for="PromotionApplyAmt" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4">
                        <label>Qty</label>
                        <input type="text" asp-for="PromotionApplyQty" class="form-control" />
                        <span asp-validation-for="PromotionApplyQty" class="text-danger"></span>
                    </div>
                    @*<div class="col-md-4">
                    <div class="form-group">
                    <label>Unit </label>
                    <select asp-for="FkPromotionApplyUnitId" asp-items="@(new SelectList(ViewBag.UnitList,"Value","Text"))" class="form-control">
                    </select>

                    </div>
                    </div>*@


                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 id="divheadingApplyOn" >Apply On</h4>
                    </div> 
                    <div class="col-md-12" id="div_PromotionLnk">
                        <div class="border p-2">
                            @* <h5>Location</h5>*@
                            <div class="row">

                                <div class="col-md-9">
                                    <div class="form-group" id="divCategory">
                                        <label class="control-label">Category </label>
                                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkCategoryId" }, { "Class", "val-cus-drp" }, { "event", "" },
                                        { "value", "" }, { "text", "" }, { "uri", "" }})

                                    </div>
                                    <div class="form-group" id="divProduct">
                                        <label class="control-label">Product </label>
                                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkProductId" }, { "Class", "val-cus-drp" }, { "event", "" },
                                        { "value", "" }, { "text", "" }, { "uri", "" }})
                                    </div>
                                    <div class="form-group" id="divBrand">
                                        <label class="control-label">Brand</label>
                                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkBrandId" }, { "Class", "val-cus-drp" }, { "event", "" },
                                        { "value", Model.FkBrandId }, { "text", Model.BrandName }, { "uri", "" }})

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="hidden" id="hidPromotionLnkIndex" autocomplete="off" value="">
                                        <input type="button" class="btn btn-warning" value="Add" onclick="addPromotionLnk()" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <table id="tblPromotionLnk" class="shelf-tblCatSize table table-bordered">
                                        <thead>
                                            <tr>
                                                <th id="tblPromotionLnkHeading">Category</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="md-height">

                                            @if (Model.PromotionLnk_lst != null)
                                            {
                                                for (int i = 0; i < Model.PromotionLnk_lst.Count; i++)
                                                {
                                                    <tr index="0">
                                                        <td class="tabel-td-xs">
                                                            <input readonly="readonly" id="PromotionLnk_lst_@(i)__LinkName" name="PromotionLnk_lst[@i].LinkName" type="text" value="@Model.PromotionLnk_lst[i].LinkName" tabindex="-1">
                                                        </td>

                                                        <td class="tabel-td-xs">
                                                            <input id="PromotionLnk_lst_@(i)__Mode" name="PromotionLnk_lst[@i].Mode" type="hidden" value="1">
                                                            <input id="PromotionLnk_lst_@(i)__PkId" name="PromotionLnk_lst[@i].PkId" type="hidden" value="@Model.PromotionLnk_lst[i].PkId">
                                                            <input id="PromotionLnk_lst_@(i)__FkLinkId" name="PromotionLnk_lst[@i].FkLinkId" type="hidden" value="@Model.PromotionLnk_lst[i].FkLinkId">
                                                            <span class="action-icon" onclick="UpdateCategory(this,@i,'del')">
                                                                <i class="fa fa-trash"></i>
                                                            </span>
                                                        </td>
                                                    </tr>

                                                }

                                            }
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="div_FreeProductSingle">
                        <h4 id="divheading" class="mt-4">Free Product</h4>

                        <div class="form-group">
                            <label class="control-label">Free Product </label>

                            @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkPromotionProdId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkPromotionProdId }, { "text", Model.PromotionProductName }, { "uri", "" }})

                        </div>
                    </div>
                    <div class=" col-md-4">
                        <label>Value</label>
                        <input type="text" asp-for="PromotionAmt" class="form-control" />
                        <span asp-validation-for="PromotionAmt" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4">
                        <label>Qty</label>
                        <input type="text" asp-for="PromotionQty" class="form-control" />
                        <span asp-validation-for="PromotionQty" class="text-danger"></span>
                    </div>
                    @* <div class="col-md-4">
                    <div class="form-group">
                    <label>Unit </label>
                    <select asp-for="FkPromotionUnitId" asp-items="@(new SelectList(ViewBag.UnitList,"Value","Text"))" class="form-control">
                    </select>

                    </div>
                    </div>*@
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#btnServerBack").attr("href", "/Master/Promotion/List/@ViewBag.PromotionDuring");
            $("#Promotion option[value*='Free Point']").prop('disabled', true);
            if ($("#PromotionApplyOn").val() != "Invoice Value") {
                $("#Promotion option[value*='Free Point']").prop('disabled', true);
            }
            hideShow();
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })


    </script>

    <script>
        function hideShow(Ischange) {
            var _applyOn = $("#PromotionApplyOn").val();
            var _promotion = $("#Promotion").val();
            $("#div_Promotionddl,#div_FreeProductSingle").show();
            $("#div_PromotionLnk,#divCategory,#divBrand,#divProduct").hide();


            if (Ischange) {
                $("#FKProductId,#FKCategoryId,#FkBrandId,#FkPromotionProdId,#PromotionApplyAmt,#PromotionApplyQty,#PromotionAmt,#PromotionQty").val('0');
                $("#drpFKProductId,#drpFKCategoryId,#drpFkBrandId,#drpFkPromotionProdId").val('');
                $("#FkPromotionApplyUnitId,FkPromotionUnitId").val('1')
                $("#Promotion option[value*='Free Point']").prop('disabled', true);
                //$("#Promotion").val('Free Product');
                // $("#tblPromotionLnk tbody").hide('');
                $('#tblPromotionLnk tbody').html('');
            }
            $("#divheading").text(_promotion);

            $("#PromotionApplyAmt,#PromotionApplyQty,#PromotionAmt,#FkPromotionApplyUnitId,#drpFkPromotionProdId,#PromotionQty,#FkPromotionUnitId").attr("readonly", "readonly");
            if (_applyOn == "Product" || _applyOn == "Category" || _applyOn == "Brand") {
                $("#divheadingApplyOn").text("Apply On");

                $("#div" + _applyOn + ",#div_PromotionLnk").show();
                $("#tblPromotionLnkHeading").text(_applyOn);
                if (_promotion == "Free Product") {
                    $("#PromotionApplyQty,#drpFkPromotionProdId,#PromotionQty").removeAttr("readonly");
                }
                else if (_promotion == "Free Qty") {
                    $("#PromotionApplyQty,#PromotionQty").removeAttr("readonly");
                }
                else if (_promotion == "Trade Discount" || _promotion == "Scheme Discount") {
                    $("#PromotionApplyQty,#PromotionAmt").removeAttr("readonly");
                }
                else if (_promotion == "Free Point") {
                    $("#PromotionApplyAmt,#PromotionAmt").removeAttr("readonly");
                }
            } 
            else if (_applyOn == "Invoice Value") {
                $("#divheadingApplyOn").text(""); 
                $("#PromotionApplyAmt").removeAttr("readonly");
                $("#Promotion option[value*='Free Point']").prop('disabled', false);

                if (_promotion == "Free Product" || _promotion == "Free Qty") {
                    $("#drpFkPromotionProdId,#PromotionQty").removeAttr("readonly");
                } 
                else if (_promotion == "Trade Discount" || _promotion == "Scheme Discount") {
                    $("#PromotionAmt").removeAttr("readonly");
                }
                else if (_promotion == "Free Point") {
                    $("#PromotionAmt").removeAttr("readonly");
                }

               
            }
            else if (_applyOn == "XonX") {

                $("#divProduct,#divBrand,#div_Promotionddl,#div_FreeProductSingle").hide();
                $("#divheadingApplyOn").text("Add Category");
                $("#div_PromotionLnk,#divCategory").show();
                $("#PromotionApplyQty,#FkPromotionApplyUnitId,#PromotionQty").removeAttr("readonly");
                $("#tblPromotionLnkHeading").text("Category");

            } 
        }

    </script>

    <script>
        function addLocations() {

            var rowCount = $('#tblLocation tbody tr').length;


            var index = $("#hidLocationIndex").val();
            var Exists = false;

            var FkLocationId = $("#FkLocationId").val();
            if (FkLocationId != '') {
                $('#tblLocation tr').each(function (ind) {
                    if ($("#PromotionLocation_lst_" + ind + "__FkLocationId").val() == FkLocationId && index !== ind.toString() && $("#PromotionLocation_lst_" + ind + "__Mode").val() != '2') {
                        alert("Already Exists");
                        Exists = true;
                    }
                });

                if (!Exists) {


                    if (index === "") {
                        var html = '<tr index="' + rowCount + '">';
                        html += '<td class="tabel-td-xs">  <input  id="PromotionLocation_lst_' + rowCount + '__LocationName" name="PromotionLocation_lst[' + rowCount + '].LocationName" type="text" value="' + $("#drpFkLocationId").val() + '" tabindex="-1"> </td>';
                        html += '<td class="tabel-td-xs">';
                        html += '<input id="PromotionLocation_lst_' + rowCount + '__Mode" name="PromotionLocation_lst[' + rowCount + '].Mode" type="hidden" value="0">';
                        html += '<input id="PromotionLocation_lst_' + rowCount + '__PkId" name="PromotionLocation_lst[' + rowCount + '].PkId" type="hidden" value="0">';
                        html += '<input id="PromotionLocation_lst_' + rowCount + '__FkLocationId" name="PromotionLocation_lst[' + rowCount + '].FkLocationId" type="hidden" value="' + $("#FkLocationId").val() + '">';
                        html += '<span class="action-icon" onclick="UpdateLocation(this,' + rowCount + ',\'del\')"><i class="fa fa-trash" /></span> </td>';

                        html += '</tr>';

                        $("#tblLocation tbody").append(html);
                    } else {
                        // $("#PromotionLocation_lst_" + index + "__Location").val($("#txtLocation").val());
                        //  $("#PromotionLocation_lst_" + index + "__Mode").val('1');

                    }
                    $("#drpFkLocationId").val('');
                    //$("#FklocalityGridId").prop('selectedIndex', 0);
                    //DropDownReset('FklocalityGridId');
                }
            }
            else { alert("Insert Location"); }
            // }
            return false;
        }

        function UpdateLocation(obj, index, action) {
            //if (action === 'edit') {
            //    $("#hidLocationIndex").val(index);
            //    $("#FklocalityGridId").val($("#PromotionLocation_lst_" + index + "__FKLocationID").val());
            //    // $("#drpFklocalityGridId").val($("#PromotionLocation_lst_" + index + "__Location").val());
            //    $("#OpeningBalance").val($("#PromotionLocation_lst_" + index + "__Location").val());
            //    $('#thDrCr').find("input[value='" + $("#PromotionLocation_lst_" + index + "__type").val() + "']").prop('checked', true);
            //    $(obj).closest('tr').removeClass('tbl-delete');
            //} else

            if (action === 'del') {
                $(obj).closest('tr').addClass('tbl-delete');
                $("#PromotionLocation_lst_" + index + "__Mode").val('2');
            }
        }
    </script>
    <script>
        function addPromotionLnk() {
            var _PromotionLnkFor=$("#tblPromotionLnkHeading").text();
            var rowCount = $('#tblPromotionLnk tbody tr').length;


            var index = $("#hidPromotionLnkIndex").val();
            var Exists = false;

            var FkLinkId = $("#Fk" + _PromotionLnkFor + "Id").val();
            var FkLinkName = $("#drpFk" + _PromotionLnkFor + "Id").val();
            if (FkLinkId != '') {
                $('#tblPromotionLnk tr').each(function (ind) {
                    if ($("#PromotionLnk_lst_" + ind + "__FkLinkId").val() == FkLinkId && index !== ind.toString() && $("#PromotionLnk_lst_" + ind + "__Mode").val() != '2') {
                        alert("Already Exists");
                        Exists = true;
                    }
                });

                if (!Exists) {


                    if (index === "") {
                        var html = '<tr index="' + rowCount + '">';
                        html += '<td class="tabel-td-xs">  <input  id="PromotionLnk_lst_' + rowCount + '__LocationName" name="PromotionLnk_lst[' + rowCount + '].LocationName" type="text" value="' + FkLinkName + '" tabindex="-1"> </td>';
                        html += '<td class="tabel-td-xs">';
                        html += '<input id="PromotionLnk_lst_' + rowCount + '__Mode" name="PromotionLnk_lst[' + rowCount + '].Mode" type="hidden" value="0">';
                        html += '<input id="PromotionLnk_lst_' + rowCount + '__PkId" name="PromotionLnk_lst[' + rowCount + '].PkId" type="hidden" value="0">';
                        html += '<input id="PromotionLnk_lst_' + rowCount + '__FkLinkId" name="PromotionLnk_lst[' + rowCount + '].FkLinkId" type="hidden" value="' + FkLinkId + '">';
                        html += '<span class="action-icon" onclick="UpdatePromotionLnk(this,' + rowCount + ',\'del\')"><i class="fa fa-trash" /></span> </td>';

                        html += '</tr>';

                        $("#tblPromotionLnk tbody").append(html);
                    } else {
                        // $("#PromotionLnk_lst_" + index + "__Location").val($("#txtLocation").val());
                        //  $("#PromotionLnk_lst_" + index + "__Mode").val('1');

                    }
                    $("#drpFk" + _PromotionLnkFor + "Id").val('');
                    //$("#FklocalityGridId").prop('selectedIndex', 0);
                    //DropDownReset('FklocalityGridId');
                }
            }
            else { alert("Insert " + _PromotionLnkFor); }
            // }
            return false;
        }

        function UpdatePromotionLnk(obj, index, action) {
            //if (action === 'edit') {
            //    $("#hidLocationIndex").val(index);
            //    $("#FklocalityGridId").val($("#PromotionLnk_lst_" + index + "__FKLinkId").val());
            //    // $("#drpFklocalityGridId").val($("#PromotionLnk_lst_" + index + "__Location").val());
            //    $("#OpeningBalance").val($("#PromotionLnk_lst_" + index + "__Location").val());
            //    $('#thDrCr').find("input[value='" + $("#PromotionLnk_lst_" + index + "__type").val() + "']").prop('checked', true);
            //    $(obj).closest('tr').removeClass('tbl-delete');
            //} else

            if (action === 'del') {
                $(obj).closest('tr').addClass('tbl-delete');
                $("#PromotionLnk_lst_" + index + "__Mode").val('2');
            }
        }
    </script>
}
}