@model SSRepository.Models.PromotionModel

@{
    ViewData["Title"] = ViewBag.PromotionDuring + " Promotion";
    ViewData["bdClass"] = "page";
}
<style>
    tr.tbl-delete, tr.tbl-delete input {
        background: red;
    }

    .shelf-tblCatSize input {
        border: none;
    }
</style>
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkPromotionId" />
        <input type="hidden" asp-for="PromotionDuring" />

        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input type="date" asp-for="PromotionFromDt" class="form-control" />
                            <span asp-validation-for="PromotionFromDt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <input type="date" asp-for="PromotionToDt" class="form-control" />
                            <span asp-validation-for="PromotionToDt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">From Time</label>
                            <input type="time" asp-for="PromotionFromTime" class="form-control" />
                            <span asp-validation-for="PromotionFromTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">To Time</label>
                            <input type="time" asp-for="PromotionToTime" class="form-control" />
                            <span asp-validation-for="PromotionToTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" asp-for="PromotionName" class="form-control" />
                            <span asp-validation-for="PromotionName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Location </label>

                            @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkLocationId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FKLocationId }, { "text", Model.LocationName }, { "uri", "" }})

                        </div>
                    </div>
                    @if (ViewBag.PromotionDuring == "Purchase")
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Vendor </label>
                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkVendorId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkVendorId }, { "text", Model.VendorName }, { "uri", "" }})


                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Customer </label>

                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkCustomerId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkCustomerId }, { "text", Model.CustomerName }, { "uri", "" }})

                            </div>
                        </div>
                    }
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Apply On</label>
                            <select asp-for="PromotionApplyOn" id="PromotionApplyOn" class="form-control" onchange="hideShow(true)">
                                <option value="Product">Product</option>
                                <option value="Category">Category</option>
                                <option value="Brand">Brand</option>
                                <option value="Invoice Value">Invoice Value</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Promotion</label>
                            <select asp-for="Promotion" class="form-control" onchange="hideShow(true)">
                                <option value="Free Product">Free Product</option>
                                <option value="Free Qty">Free Qty</option>
                                <option value="Trade Discount">Trade Discount (%)</option>
                                <option value="Scheme Discount">Scheme Discount (%)</option>
                                <option value="Free Point">Free Point</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4>Qualifying</h4>
                    </div>

                    <div class=" col-md-4">
                        <label>Amount</label>
                        <input type="text" asp-for="PromotionApplyAmt" class="form-control" />
                        <span asp-validation-for="PromotionApplyAmt" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4">
                        <label>Qty</label>
                        <input type="text" asp-for="PromotionApplyQty" class="form-control" />
                        <span asp-validation-for="PromotionApplyQty" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Unit </label>
                            <select asp-for="FkPromotionApplyUnitId" asp-items="@(new SelectList(ViewBag.UnitList,"Value","Text"))" class="form-control">
                            </select>

                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Apply On</h4>
                    </div>
                    <div class="col-md-12" id="divProduct">
                        <div class="form-group">
                            <label class="control-label">Product </label>

                            @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKProdID" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FKProdID }, { "text", Model.ProductName }, { "uri", "" }})

                        </div>
                    </div>
                    <div class="col-md-12" id="divCategory">
                        <div class="form-group">
                            <label class="control-label">Category </label>

                            @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkProdCatgId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkProdCatgId }, { "text", Model.CategoryName }, { "uri", "" }})

                        </div>
                    </div>

                    <div class="col-md-12" id="divBrand">
                        <div class="form-group">
                            <label class="control-label">Brand</label>

                            @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkBrandId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkBrandId }, { "text", Model.BrandName }, { "uri", "" }})

                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4 id="divheading">Free Product</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Free Product </label>

                            @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkPromotionProdId" }, { "Class", "val-cus-drp" }, { "event", "" },
                            { "value", Model.FkPromotionProdId }, { "text", Model.PromotionProductName }, { "uri", "" }})

                        </div>
                    </div>
                    <div class=" col-md-4">
                        <label>Value</label>
                        <input type="text" asp-for="PromotionAmt" class="form-control" />
                        <span asp-validation-for="PromotionAmt" class="text-danger"></span>
                    </div>
                    <div class=" col-md-4">
                        <label>Qty</label>
                        <input type="text" asp-for="PromotionQty" class="form-control" />
                        <span asp-validation-for="PromotionQty" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Unit </label>
                            <select asp-for="FkPromotionUnitId" asp-items="@(new SelectList(ViewBag.UnitList,"Value","Text"))" class="form-control">
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $("#btnServerBack").attr("href", "/Master/Promotion/List/@ViewBag.PromotionDuring");

            hideShow();
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })


    </script>

    <script>
        function hideShow(Ischange) {
            var _applyOn = $("#PromotionApplyOn").val();
            var _promotion = $("#Promotion").val();
            if (Ischange) {
                $("#FKProdID,#FkProdCatgId,#FkBrandId,#FkPromotionProdId,#drpFkPromotionProdId,#PromotionApplyAmt,#PromotionApplyQty,#PromotionAmt,#PromotionQty").val('0');
                $("#drpFKProdID,#drpFkProdCatgId,#drpFkBrandId,#drpFkPromotionProdId").val('');
                $("#FkPromotionApplyUnitId,FkPromotionUnitId").val('1')
            }
            $("#divheading").text(_promotion);

            $("#PromotionApplyAmt,#PromotionApplyQty,#PromotionAmt,#FkPromotionApplyUnitId,#drpFkPromotionProdId,#PromotionQty,#FkPromotionUnitId").attr("readonly", "readonly");



            if (_promotion == "Free Product") {
                $("#PromotionApplyQty,#FkPromotionApplyUnitId,#drpFkPromotionProdId,#PromotionAmt,#PromotionQty,#FkPromotionUnitId").removeAttr("readonly");
            }
            else if (_promotion == "Free Qty") {
                $("#PromotionApplyQty,#FkPromotionApplyUnitId,#PromotionQty").removeAttr("readonly");
            }
            else if (_promotion == "Trade Discount" || _promotion == "Scheme Discount") {
                $("#PromotionApplyQty,#FkPromotionApplyUnitId,#PromotionAmt").removeAttr("readonly");
            }
            else if (_promotion == "Free Point") {
                $("#PromotionApplyAmt,#PromotionAmt").removeAttr("readonly");

            }

            if (_applyOn == "Product") {
                $("#divCategory,#divBrand").hide();
                $("#divProduct").show();
            }
            else if (_applyOn == "Category") {
                $("#divProduct,#divBrand").hide();
                $("#divCategory").show();
            }
            else if (_applyOn == "Brand") {
                $("#divCategory,#divProduct").hide();
                $("#divBrand").show();
            }
            else if (_applyOn == "Invoice Value") {
                $("#divCategory,#divProduct,#divBrand").hide();
                // $("").show();
                $("#PromotionApplyAmt,#PromotionApplyAmt").removeAttr("readonly");
            }
        }

    </script>
}