@using SSRepository.Models;
@model RoleModel

@{
    ViewData["Title"] = "Role Create";
    ViewData["bdClass"] = "page";

    List<FormModel> FormList = ViewBag.FormList;
}
<style>
    tr.tbl-delete, tr.tbl-delete input {
        background: red;
    }

    .shelf-tblCatSize input {
        border: none;
    }

    input[type=checkbox] {
        height: 25px;
        width: 25px;
    }

    table tr th, table tr td {
        text-align: center;
    }

</style>
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkRoleId" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Role Name</label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div id="accordion">
                    @{
                        int i = 0;
                    }
                    <table class="table table-bordered table-responsive-lg">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-left">Description</th>
                                <th>Access</th>
                                <th>Create</th>
                                <th>Edit</th>
                                <th>Print</th>
                                <th>Browse</th>
                            </tr>
                        </thead>
                    </table>
                    @foreach (var mstrMenu in FormList.Where(x => x.FKMasterFormID == null || x.FKMasterFormID == 0).ToList())
                    {
                        <div class="card">
                            <div class="card-header p-0" id="heading@(mstrMenu.PKFormID)">
                                <h5 class="mb-0">
                                    <a class="btn btn-link w-100 text-left p-3" data-toggle="collapse" data-target="#collapse@(mstrMenu.PKFormID)" aria-expanded="true" aria-controls="collapse@(mstrMenu.PKFormID)">
                                        @mstrMenu.FormName
                                    </a>
                                </h5>
                            </div>

                            <div id="collapse@(mstrMenu.PKFormID)" class="collapse" aria-labelledby="heading@(mstrMenu.PKFormID)" data-parent="#accordion">
                                <div class="card-body">
                                    @{
                                        var _menuWithChield = FormList.Where(x => x.FKMasterFormID == mstrMenu.PKFormID && FormList.Any(y => y.FKMasterFormID == x.PKFormID)).ToList();
                                        var _menuNoChield = FormList.Where(x => x.FKMasterFormID == mstrMenu.PKFormID && !FormList.Any(y => y.FKMasterFormID == x.PKFormID)).ToList();
                                    }
                                    @foreach (var menu in _menuWithChield.ToList())
                                    {
                                        var _subMenu = FormList.Where(x => x.FKMasterFormID == menu.PKFormID).ToList();
                                        if (_subMenu.Count > 0)
                                        {
                                            <div class="card">
                                                <p class="card-header p-0">
                                                    <a class="btn btn-link w-100 text-left p-3" data-toggle="collapse" href="#collapse@(menu.PKFormID)" role="button" aria-expanded="false" aria-controls="collapse@(menu.PKFormID)">
                                                        @menu.FormName
                                                    </a>
                                                </p>
                                                <div class="collapse card-body" id="collapse@(menu.PKFormID)">
                                                    <table class="table table-bordered table-responsive-lg">

                                                        <tbody>
                                                            <tr>
                                                                <th class="text-left w-25">Description</th>
                                                                <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,1)"><i class="fa fa-retweet"></i></a></th>
                                                                <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,2)"><i class="fa fa-retweet"></i></a></th>
                                                                <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,3)"><i class="fa fa-retweet"></i></a></th>
                                                                <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,4)"><i class="fa fa-retweet"></i></a></th>
                                                                <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,5)"><i class="fa fa-retweet"></i></a></th>

                                                            </tr>
                                                            @foreach (var _m in _subMenu)
                                                            {
                                                                <tr id="tr_@(_m.PKFormID)" data-id="@_m.PKFormID">
                                                                    <td class="text-left w-25">@_m.FormName</td>
                                                                    <td>
                                                                        <input id="RoleDtl_lst_@(i)__FKFormID" name="RoleDtl_lst[@i].FKFormID" type="hidden" value="@_m.PKFormID">
                                                                        <input class="PkRoleDtlId" id="RoleDtl_lst_@(i)__PkRoleDtlId" name="RoleDtl_lst[@i].PkRoleDtlId" type="hidden" value="0">
                                                                        <input class="IsAccess" id="RoleDtl_lst_@(i)__IsAccess" name="RoleDtl_lst[@i].IsAccess" type="checkbox" value="true">
                                                                    </td>
                                                                    <td>
                                                                        <input class="IsCreate" id="RoleDtl_lst_@(i)__IsCreate" name="RoleDtl_lst[@i].IsCreate" type="checkbox" value="true">
                                                                    </td>
                                                                    <td>
                                                                        <input class="IsEdit" id="RoleDtl_lst_@(i)__IsEdit" name="RoleDtl_lst[@i].IsEdit" type="checkbox" value="true">
                                                                    </td>
                                                                    <td>
                                                                        <input class="IsPrint" id="RoleDtl_lst_@(i)__IsPrint" name="RoleDtl_lst[@i].IsPrint" type="checkbox" value="true">
                                                                    </td>
                                                                    <td>
                                                                        <input class="IsBrowse" id="RoleDtl_lst_@(i)__IsBrowse" name="RoleDtl_lst[@i].IsBrowse" type="checkbox" value="true">
                                                                    </td>
                                                                </tr>

                                                                i++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }

                                    }
                                    @if (_menuNoChield.Count > 0)
                                    {
                                        <table class="table table-bordered table-responsive-lg">

                                            <tbody>
                                                <tr>
                                                    <th class="text-left w-25">Description</th>
                                                    <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,1)"><i class="fa fa-retweet"></i></a></th>
                                                    <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,2)"><i class="fa fa-retweet"></i></a></th>
                                                    <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,3)"><i class="fa fa-retweet"></i></a></th>
                                                    <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,4)"><i class="fa fa-retweet"></i></a></th>
                                                    <th> <a href="javascript:void(0)" style="font-size: 20px;" onclick="RevarseCheckbox(this,5)"><i class="fa fa-retweet"></i></a></th>

                                                </tr>
                                                @foreach (var menu in _menuNoChield.ToList())
                                                {
                                                    <tr id="tr_@(menu.PKFormID)" data-id="@menu.PKFormID">
                                                        <td class="text-left w-25">@menu.FormName</td>
                                                        <td>
                                                            <input id="RoleDtl_lst_@(i)__FKFormID" name="RoleDtl_lst[@i].FKFormID" type="hidden" value="@menu.PKFormID">
                                                            <input class="PkRoleDtlId" id="RoleDtl_lst_@(i)__PkRoleDtlId" name="RoleDtl_lst[@i].PkRoleDtlId" type="hidden" value="0">
                                                            <input class="IsAccess" id="RoleDtl_lst_@(i)__IsAccess" name="RoleDtl_lst[@i].IsAccess" type="checkbox" value="true">
                                                        </td>
                                                        <td>
                                                            <input class="IsCreate" id="RoleDtl_lst_@(i)__IsCreate" name="RoleDtl_lst[@i].IsCreate" type="checkbox" value="true">
                                                        </td>
                                                        <td>
                                                            <input class="IsEdit" id="RoleDtl_lst_@(i)__IsEdit" name="RoleDtl_lst[@i].IsEdit" type="checkbox" value="true">
                                                        </td>
                                                        <td>
                                                            <input class="IsPrint" id="RoleDtl_lst_@(i)__IsPrint" name="RoleDtl_lst[@i].IsPrint" type="checkbox" value="true">
                                                        </td>
                                                        <td>
                                                            <input class="IsBrowse" id="RoleDtl_lst_@(i)__IsBrowse" name="RoleDtl_lst[@i].IsBrowse" type="checkbox" value="true">
                                                        </td>
                                                    </tr>

                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>
<input type="hidden" id="hdData" value="@ViewBag.Data" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
            debugger;
            var _d = JSON.parse($("#hdData").val());
            if (_d.RoleDtl_lst.length > 0) {
                $(_d.RoleDtl_lst).each(function (i, v) {
                    var tr = $('#tr_' + v.FKFormID);
                    $(tr).find('.PkRoleDtlId').val(v.PkRoleDtlId);
                    $(tr).find('.IsAccess').prop("checked", v.IsAccess);
                    $(tr).find('.IsEdit').prop("checked", v.IsEdit);
                    $(tr).find('.IsCreate').prop("checked", v.IsCreate);
                    $(tr).find('.IsPrint').prop("checked", v.IsPrint);
                    $(tr).find('.IsBrowse').prop("checked", v.IsBrowse);

                });
            }
        })


    </script>

    <script>
        function RevarseCheckbox($cntrl, index) {
            var parent = $($cntrl).parent().parent().parent();
            $(parent).find('tr').each(function () {
                var chk = $(this).find("td:eq(" + index + ") input[type=checkbox]");
                if (chk.length > 0) {
                    var CurrentValue = $(chk).is(':checked');
                    $(chk).prop("checked", !CurrentValue);
                }
            });
        }
        function addSizes() {

            var rowCount = $('#tblSize tbody tr').length;


            var index = $("#hidSizeIndex").val();
            var Exists = false;

            var Size = $("#txtSize").val();
            if (Size != '') {
                $('#tblSize tr').each(function (ind) {
                    if ($("#RoleDtl_lst_" + ind + "__Size").val() === Size && index !== ind.toString() && $("#RoleDtl_lst_" + ind + "__Mode").val() != '2') {
                        alert("Already Exists");
                        Exists = true;
                    }
                });
                if (!Exists) {


                    if (index === "") {
                        var html = '<tr index="' + rowCount + '">';
                        html += '<td class="tabel-td-xs">  <input  id="RoleDtl_lst_' + rowCount + '__Size" name="RoleDtl_lst[' + rowCount + '].Size" type="text" value="' + $("#txtSize").val() + '" tabindex="-1"> </td>';
                        html += '<td class="tabel-td-xs">';
                        html += '<input id="RoleDtl_lst_' + rowCount + '__Mode" name="RoleDtl_lst[' + rowCount + '].Mode" type="hidden" value="0">';
                        html += '<input id="RoleDtl_lst_' + rowCount + '__PkId" name="RoleDtl_lst[' + rowCount + '].PkId" type="hidden" value="0">';
                        html += '<span class="action-icon" onclick="UpdateSize(this,' + rowCount + ',\'del\')"><i class="fa fa-trash" /></span> </td>';

                        html += '</tr>';

                        $("#tblSize tbody").append(html);
                    } else {
                        // $("#RoleDtl_lst_" + index + "__Size").val($("#txtSize").val());
                        //  $("#RoleDtl_lst_" + index + "__Mode").val('1');

                    }
                    $("#txtSize").val('');
                    //$("#FklocalityGridId").prop('selectedIndex', 0);
                    //DropDownReset('FklocalityGridId');
                }
            }
            else { alert("Insert Size"); }
            // }
            return false;
        }

        function UpdateSize(obj, index, action) {
            //if (action === 'edit') {
            //    $("#hidSizeIndex").val(index);
            //    $("#FklocalityGridId").val($("#RoleDtl_lst_" + index + "__FKSizeID").val());
            //    // $("#drpFklocalityGridId").val($("#RoleDtl_lst_" + index + "__Size").val());
            //    $("#OpeningBalance").val($("#RoleDtl_lst_" + index + "__Size").val());
            //    $('#thDrCr').find("input[value='" + $("#RoleDtl_lst_" + index + "__type").val() + "']").prop('checked', true);
            //    $(obj).closest('tr').removeClass('tbl-delete');
            //} else

            if (action === 'del') {
                $(obj).closest('tr').addClass('tbl-delete');
                $("#RoleDtl_lst_" + index + "__Mode").val('2');
            }
        }
    </script>
}