@model SSRepository.Models.TransactionModel

@{
    Layout = null;
}
<style>
    .f-ctrl {
        display: block !important;
    }

    .form-group {
        margin-bottom: 0.2rem !important;
    }
</style>
<input asp-for="ExtProperties.TranAlias" type="hidden" />
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="d-block pb-1">Party</label>
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkPartyId" }, { "Class", "val-cus-drp" }, { "event", "setParty()" },
                        { "value", Model.FkPartyId }, { "ExtraParam", "ExtProperties_TranAlias" }, { "text", Model.PartyName }, { "uri", "" } })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input asp-for="PartyMobile" class="form-control input-number" maxlength="10" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea asp-for="PartyAddress" class="form-control" rows="2" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>GSTIN</label>
                        <input asp-for="PartyGSTN" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Credit</label>
                        <input asp-for="PartyCredit" class="form-control" value="0" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Balance</label>
                        <input name="PartyBalance" type="text" id="PartyBalance" class="form-control" value="0" disabled />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Series </label>

                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKSeriesId" }, { "Class", "val-cus-drp" }, { "event", "setSeries()" },
                        { "value", Model.FKSeriesId }, { "text", Model.SeriesName }, { "uri", "" }})

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">*Invoice No</label>
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "EntryNo" }, { "Class", "val-cus-drp" }, { "event", "setParty()" },
                        { "value", Model.EntryNo }, { "text", Model.EntryNo }, { "uri", "" } })
                        <span asp-validation-for="EntryNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Entry Date</label>
                        @*   @Html.TextBoxFor(m => m.EntryDate, "{0:dd/MM/yyyy}", new { @class = "form-control", autocomplete = "off", @type = "Date" })
                        *@
                        <input type="Date" asp-for="EntryDate" class="form-control trn" />
                        <span asp-validation-for="EntryDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">GRNo </label>
                        <input asp-for="GRNo" class="form-control trn" />
                        <span asp-validation-for="GRNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">GR Date </label>
                        <input type="Date" asp-for="GRDate" class="form-control trn" />
                        @* @Html.TextBoxFor(m => m.GRDate, "{0:dd/MM/yyyy}", new { @class = "form-control", autocomplete = "off", @type = "Date" }) *@
                        <span asp-validation-for="GRDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Rate/Discount Type </label>
                        <select id="RateDiscountType" class="form-control ratediscount">
                            <option value="LIR">Line Item Rs</option>
                            <option value="LIP">Line Item %</option>
                            <option value="F">Fix Rate</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Rate/Discount Value </label>
                        <input id="RateDiscountValue" class="form-control ratediscount" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-success mt-2" onclick="PaymentDetail()"><i class="fa-2x fa-money fa-money-bill-alt fas" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<div class="modal fade model-paymentdetail" style="z-index: 99999;">
    <div class="modal-dialog" role="document" style="width: 50% !important;max-width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="radio-class mr-3 d-flex align-items-center mt-3">
                                <input asp-for="Cash" class="radios__input mr-2 paymentDtl" type="checkbox" style="height: 25px;width: 25px;">
                                <label class="label" for="StatusActive">ON CASH</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>AMOUNT</label>
                                    <input type="text" asp-for="CashAmt" class="form-control  input-number paymentDtl" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="radio-class mr-3 d-flex align-items-center mt-3">
                                <input asp-for="Credit" class="radios__input  mr-2 paymentDtl" type="checkbox" style="height: 25px;width: 25px;">
                                <label class="label" for="StatusActive">ON CREDIT</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group mt-3">
                                    <input type="text" asp-for="CreditAmt" class="form-control input-number paymentDtl" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Posting A/c</label>
                                    <input type="text" asp-for="Account" class="form-control" readonly />
                                    <input type="text" asp-for="FKPostAccID" class="form-control paymentDtl" style="display:none" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DUE DATE</label>
                                    <input type="date" asp-for="CreditDate" class="form-control paymentDtl" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="radio-class mr-3 d-flex align-items-center mt-3">
                                <input asp-for="Cheque" class="radios__input mr-2 paymentDtl" type="checkbox" style="height: 25px;width: 25px;">
                                <label class="label" for="StatusActive">CHEQUE/DD</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group mt-3">
                                    <input type="text" asp-for="ChequeAmt" class="form-control input-number paymentDtl" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CHEQUE/DD NO</label>
                                    <input type="text" asp-for="ChequeNo" class="form-control paymentDtl" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" asp-for="ChequeDate" class="form-control paymentDtl" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank</label>
                                    <select asp-for="FKBankChequeID" asp-items="@(new SelectList(ViewBag.BankList,"PkBankId","BankName"))" class="form-control paymentDtl" id="FKBankChequeID">
                                    </select>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="radio-class mr-3 d-flex align-items-center mt-3">
                                <input asp-for="CreditCard" class="radios__input mr-2 paymentDtl" type="checkbox" style="height: 25px;width: 25px;">
                                <label class="label" for="StatusActive"> CARD</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group mt-3">
                                    <input type="text" asp-for="CreditCardAmt" class="form-control input-number paymentDtl" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> CARD</label>
                                    <select asp-for="FKBankCreditCardID" asp-items="@(new SelectList(ViewBag.BankList,"PkBankId","BankName"))" class="form-control paymentDtl" id="FKBankCreditCardID">
                                    </select>

                                     </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>EXPIRY DATE</label>
                                    <input type="date" asp-for="CreditCardDate" class="form-control paymentDtl" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CARD NO.</label>
                                    <input type="text" asp-for="CreditCardNo" class="form-control  input-number  paymentDtl" />
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>