@model SSRepository.Models.AccountMasModel

@{
    ViewData["Title"] = "Ledger Account";
    ViewData["bdClass"] = "page";
}

<div class="master-page-ui">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkAccountId" />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-sm-2">Group<span class="required">*</span> </label>
                    <div class="col-md-6">
                        @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkAccountGroupId" },{"name","AccountGroupName"}, { "Class", "val-cus-drp" },
                        { "value", Model.FkAccountGroupId }, { "text", Model.AccountGroupName }, { "uri", "AccountGroup" }, { "required", "required" },{ "placeholder", "Select Group"} })
                        @*                        <select asp-for="FkAccountGroupId" asp-items="@(new SelectList(ViewBag.AccountGroupList,"PkAccountGroupId","AccountGroupName"))" class="form-control" id="FkAccountGroupId">
                        </select>*@
                        <span asp-validation-for="FkAccountGroupId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Name<span class="required">*</span> </label>
                    <div class="col-md-6">
                        <input asp-for="Account" class="form-control" maxlength="100" />
                        <span asp-validation-for="Account" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Alias</label>
                    <div class="col-md-3">
                        <input asp-for="Alias" class="form-control" maxlength="25" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning" onclick="AutoGenerateAlias()">
                            <i class="bi bi-gear-fill me-2" style="color: black;"></i>Auto Generate
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Mobile / Email</label>

                    <div class="col-md-3">
                        <input asp-for="Phone2" class="form-control input-number" pattern="Mobile" maxlength="10" placeholder="Enter Mobile" />
                        <span asp-validation-for="Phone2" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Email" class="form-control" pattern="Email" placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Status</label>
                    <div class="col-md-4">
                        <div class="row m-0">
                            <div class="col-sm-6 d-flex align-items-center form-check form-switch">
                                <span>  <input asp-for="Status" class="form-check-input" role="switch" id="StatusContinue" type="radio" value="Continue" checked></span>
                                <label class="form-check-label ms-1" for="StatusContinue">Continue</label>
                            </div>

                            <div class="col-sm-6 d-flex align-items-center form-check form-switch">
                                <span>  <input asp-for="Status" class="form-check-input" role="switch" id="StatusDisContinue" type="radio" value="DisContinue"></span>
                                <label class="form-check-label ms-1" for="StatusDisContinue">DisContinue</label>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-2">
                        <input asp-for="DiscDate" class="form-control" type="date" />
                        @*    @Html.TextBoxFor(m => m.DiscDate, "{0:dd/MM/yyyy}", new { @class = "form-control", autocomplete = "off" })
                        @Html.TextBoxFor(x => x.DiscDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date"})
                        *@   <span asp-validation-for="DiscDate" class="text-danger"></span>
                    </div>
                </div>





            </div>


            <div class="col-sm-12">
                <div class="tabs-ui-fmt mt-2" id="scrollfixheader">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="Addresstab-tab" data-bs-toggle="tab" data-bs-target="#Addresstab" type="button" role="tab" aria-controls="Addresstab" aria-selected="false" fdprocessedid="w66vj" tabindex="-1">Address</button>
                            <button class="nav-link" id="Licensetab-tab" data-bs-toggle="tab" data-bs-target="#Licensetab" type="button" role="tab" aria-controls="Licensetab" aria-selected="true">License Detail</button>
                            <button class="nav-link" id="Locationtab-tab" data-bs-toggle="tab" data-bs-target="#Locationtab" type="button" role="tab" aria-controls="Locationtab" aria-selected="true">Location</button>
                            <button class="nav-link" id="Banktab-tab" data-bs-toggle="tab" data-bs-target="#Banktab" type="button" role="tab" aria-controls="Banktab" aria-selected="true">Bank</button>

                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show mt-4" id="Addresstab" role="tabpanel" aria-labelledby="Addresstab-tab" tabindex="-1">
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="card card-detail">
                                    <div class="card-header">
                                        Billing Address
                                    </div>
                                    <div class="card-body">
                                        <div class="row form-group">
                                            <label class="col-sm-4">Address</label>
                                            <div class="col-md-8">
                                                <textarea asp-for="Address" class="form-control" maxlength="200"></textarea>
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4">Station</label>
                                            <div class="col-sm-8">
                                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkStationId" },{"name","Station"}, { "Class", "val-cus-drp" },
                                                { "value", Model.FkStationId }, { "text", Model.Station }, { "uri", "Station" },{ "placeholder", "Select Station"} })

                                                @* <input asp-for="Station" class="form-control" />
                                                <span asp-validation-for="Station" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4">Locality</label>
                                            <div class="col-sm-8">
                                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkLocalityId" },{"name","Locality"}, { "Class", "val-cus-drp" },
                                                { "value", Model.FkLocalityId }, { "text", Model.Locality }, { "uri", "Locality" },{ "placeholder", "Select Locality"} })

                                                @* <input asp-for="Locality" class="form-control" />
                                                <span asp-validation-for="Locality" class="text-danger"></span>
                                                *@
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-4">Pincode </label>
                                            <div class="col-sm-8">
                                                <input asp-for="Pincode" class="form-control  input-number" maxlength="6" pattern="PinCode" />
                                                <span asp-validation-for="Pincode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4">Phone</label>

                                            <div class="col-sm-8">
                                                <input asp-for="Phone1" class="form-control  input-number" maxlength="10" pattern="Mobile" />
                                                <span asp-validation-for="Phone1" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="card card-detail">
                                    <div class="card-header">
                                        Opening Balance
                                        <button class="btn btn-default text-primary p-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Opening balance not allowed for  P&amp;L and Trading A/c.<br/> Use Opening Balance Pending Bills Option for debtors and creditors">
                                            <i class="bi bi-info-circle-fill"></i>
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <div class="row m-0 tabel-color-theme">
                                            <table id="tblOpeningBalance" class="tableheader-fixed tbl-form table border ">
                                                <thead>
                                                    <tr>
                                                        <th class="col-6">Stock Location</th>
                                                        <th class="col-3">Opening Balance</th>
                                                        <th class="col-2">Dr/ Cr</th>
                                                        <th class="col-1"> &nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkLocationId_OpBal" }, { "Class", "val-cus-drp" },
                                                                { "value", "" }, { "text", "" }, { "uri", "Location" },{ "placeholder", "Select Location"} })

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input id="OpeningBalance" class="form-control input-Amount" type="text" max="100000000" maxlength="9" value="0" />
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="form-group">
                                                                <select id="sltCrAmt" class="form-select">
                                                                    <option value="Cr">Cr</option>
                                                                    <option value="Dr">Dr</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="tbl-ui-drpcolumn">
                                                            <div class="form-group ">
                                                                <input type="hidden" id="hidLocationIndex" autocomplete="off" value="">
                                                                <button type="button" class="btn btn-primary" onclick="addOpeningBalance();">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.AccountDtl_lst != null)
                                                    {
                                                        for (int i = 0; i < Model.AccountDtl_lst.Count; i++)
                                                        {
                                                            <tr index="@i">
                                                                <td class="p-2">
                                                                    @Html.TextBoxFor(m => m.AccountDtl_lst[i].Location, new { @readonly = true, @tabindex = "-1" })
                                                                    @Html.HiddenFor(m => m.AccountDtl_lst[i].FKLocationID)
                                                                    @Html.HiddenFor(m => m.AccountDtl_lst[i].PKAccountDtlId)

                                                                </td>
                                                                <td class="p-2">
                                                                    @Html.TextBoxFor(m => m.AccountDtl_lst[i].OpBal, new { @readonly = true, @tabindex = "-1" })
                                                                </td>
                                                                <td class="p-2">
                                                                    @Html.TextBoxFor(m => m.AccountDtl_lst[i].type, new { @readonly = true, @tabindex = "-1" })
                                                                </td>
                                                                <td class="p-2 d-flex">
                                                                    @Html.HiddenFor(x => x.AccountDtl_lst[i].ModeForm)
                                                                    <button type="button" class="btn grid-close-btn" onclick="RowAction(this,@i,'del')">
                                                                        <i class="bi bi-x-circle"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mt-4" id="Licensetab" role="tabpanel" aria-labelledby="Licensetab-tab" tabindex="-1">
                        <div class="row" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="col-sm-9">
                                @for (int i = 0; i < 6; i++)
                                {
                                    int No = i + 1;
                                    var _data = Model.AccountLicDtl_lst.Count > 0 ? Model.AccountLicDtl_lst.Where(x => x.No == No.ToString()).FirstOrDefault() : null;

                                    <div class="row">
                                        <div class=" col-md-6 ">
                                            <div class="row form-group">
                                                <label for="exampleInputEmail1" class="License1 control-label col-sm-4">License @No</label>
                                                <div class=" col-md-8 ">
                                                    <input id="@("AccountLicDtl_lst_"+i+"_Description")" name="AccountLicDtl_lst[@i].Description" type="text" value="@(_data!=null?_data.Description:"")" class="form-control" maxlength="50">
                                                    <input id="@("AccountLicDtl_lst_"+i+"_No")" name="AccountLicDtl_lst[@i].No" type="hidden" value="@No">
                                                    <input id="@("AccountLicDtl_lst_"+i+"_PKAccountLicDtlId")" name="AccountLicDtl_lst[@i].PKAccountLicDtlId" type="hidden" value="@(_data!=null?_data.PKAccountLicDtlId:0)">

                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-3">
                                            <div class="row form-group">
                                                <label for="exampleInputEmail1" class="control-label col-sm-5">Issue Date</label>
                                                <div class=" col-md-7 ">
                                                    @if (_data != null)
                                                    {
                                                        <input asp-for="@_data.IssueDate" class="form-control" type="date" id="@("AccountLicDtl_lst_"+i+"_IssueDate")" name="AccountLicDtl_lst[@i].IssueDate" />
                                                    }
                                                    else
                                                    {
                                                        <input id="@("AccountLicDtl_lst_"+i+"_IssueDate")" name="AccountLicDtl_lst[@i].IssueDate" type="date" class="form-control" maxlength="10">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row form-group">
                                                <label for="exampleInputEmail1" class="control-label col-sm-5">Valid Till</label>
                                                <div class="col-sm-7">
                                                    @if (_data != null)
                                                    {
                                                        <input asp-for="@_data.ValidTill" class="form-control" type="date" id="@("AccountLicDtl_lst_"+i+"_ValidTill")" name="AccountLicDtl_lst[@i].ValidTill" />
                                                    }
                                                    else
                                                    {
                                                        <input id="@("AccountLicDtl_lst_"+i+"_ValidTill")" name="AccountLicDtl_lst[@i].ValidTill" type="date" class="form-control" maxlength="10">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mt-4" id="Locationtab" role="tabpanel" aria-labelledby="Locationtab-tab" tabindex="-1">
                        <div class="row" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">


                            <div class="card card-detail">
                                @*<div class="card-header">
                                Locations
                                </div>*@
                                <div class="card-body">
                                    <div class="col-sm-12 mt-3">
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FkLocationId" }, { "Class", "val-cus-drp" },
                                                { "value", "" }, { "text", "" }, { "uri", "Location" },{ "placeholder", "Select Location"} })

                                            </div>
                                            <div class="col-sm-1 ">
                                                <span class="btn btn-success" onclick="AddLocation();">
                                                    <i class="bi bi-plus-lg"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 default-scroll-grid">
                                        <table id="tblLocationLoc" class="table border tableheader-fixed">
                                            <tbody class="md-height">

                                                @if (Model.AccountLocation_lst != null)
                                                {
                                                    for (int i = 0; i < Model.AccountLocation_lst.Count; i++)
                                                    {
                                                        <tr index="@i">
                                                            <td>
                                                                @Html.TextBoxFor(m => m.AccountLocation_lst[i].Location, new { @readonly = true, @tabindex = "-1" })
                                                                @Html.HiddenFor(m => m.AccountLocation_lst[i].FKLocationID)
                                                                @Html.HiddenFor(m => m.AccountLocation_lst[i].PKAccountLocLnkId)
                                                            </td>
                                                            <td>
                                                                @Html.HiddenFor(x => x.AccountLocation_lst[i].ModeForm)
                                                                <button type="button" class="btn grid-close-btn" onclick="RowAction(this,@i,'del')">
                                                                    <i class="bi bi-x-circle"></i>
                                                                </button>

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="tab-pane fade mt-4" id="Banktab" role="tabpanel" aria-labelledby="Banktab-tab" tabindex="-1">
                        <div class="row" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="tab-pane fade active show" id="Banktab" role="tabpanel" aria-labelledby="Banktab-tab" tabindex="-1">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="row form-group">
                                            <label class="control-label col-sm-4">Bank</label>
                                            <div class="col-sm-6">
                                                @Html.Partial("_DropDown", new ViewDataDictionary(this.ViewData) { { "ID", "FKBankID" },{"name","Bank"}, { "Class", "val-cus-drp" },
                                                { "value", Model.FKBankID }, { "text", Model.BankName }, { "uri", "Bank" }, { "required", "required" },{ "placeholder", "Select Bank"} })
                                                @*
                                                <select asp-for="FKBankID" asp-items="@(new SelectList(ViewBag.BankMasList,"PkBankId","BankName"))" class="form-control" id="FKBankID" onchange="FillIFSC()">
                                                </select>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-7">
                                        <div class="row form-group">
                                            <label class="control-label col-sm-4">Account No</label>
                                            <div class="col-md-6">
                                                <input asp-for="AccountNo" class="form-control input-number" type="text" />
                                                <span asp-validation-for="AccountNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-7">
                                        <div class="row form-group">
                                            <label class="control-label col-sm-4">IFSC</label>
                                            <div class="col-md-6">
                                                <input id="IFSCCode" class="form-control" type="text" readonly="readonly" value="@Model.IFSCCode" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            Common.InputFormat();
            setDiscDate();
            //  FillIFSC();
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });

            $('input[name="Status"]').on("change", function (e) {
                $('#DiscDate').val('');
                setDiscDate();
            });
            _Custdropdown.FKBankID.onSelect = function (arg) {
                console.log(arg.data);
                $("#IFSCCode").val(arg.data.IFSCCode);

            }
        })
        function setDiscDate() {

            if ($('input[name="Status"]:checked').val() == "Continue") {
                $('#DiscDate').attr('readonly', 'readonly');
            }
            else {
                $('#DiscDate').removeAttr('readonly');

            }
        }
        //function FillIFSC() {

        //    var FKBankID = $("#FKBankID").val();
        //    var bankList = JSON.parse($("#hdBankMasList").val());

        //    $("#IFSCCode").val(bankList.filter(v => v.PkBankId == FKBankID)[0].IFSCCode);
        //}
    </script>

    <script>
        function addOpeningBalance() {
            var foundL = false;
            if ($("#drpFkLocationId_OpBal").val().replace('"', '').replace('"', '') == "") {
                Alertdialog("Please Select Location");
                return false;
            } else if ($("#OpeningBalance").val() == "") {
                Alertdialog("Please Enter Opening Balance");
                return false;
            }
            else {
                $('#tblOpeningBalance tbody tr').each(function (index) {
                    var val = $('#AccountDtl_lst_' + index + '__FKLocationID').val();
                    var vald = $("#AccountDtl_lst_" + index + "__ModeForm").val();
                    if (val == $("#FkLocationId_OpBal").val()) {
                        foundL = true;
                        $("#AccountDtl_lst_" + index + "__OpBal").val($("#OpeningBalance").val());
                        $("#AccountDtl_lst_" + index + "__type").val($("#sltCrAmt").val().replace('"', ''));
                        if (vald == '2') {
                            RowAction($("#AccountDtl_lst_" + index + "__ModeForm").next(), index, 'undo');
                        };
                    }
                });

                if (foundL == false) {
                    var i = $('#tblOpeningBalance tbody tr').length;
                    var html = `<tr index="${i}">
                                             <td>
                                                 <input id="AccountDtl_lst_${i}__Location" name="AccountDtl_lst[${i}].Location" type="text" value="${$("#drpFkLocationId_OpBal").val().replace('"', '').replace('"', '')}" tabindex="-1" readonly="readonly" />
                                                         <input id="AccountDtl_lst_${i}__FKLocationID" name="AccountDtl_lst[${i}].FKLocationID" type="hidden" value="${$("#FkLocationId_OpBal").val()}" />

                                             </td>
                                              <td> <input id="AccountDtl_lst_${i}__OpBal" name="AccountDtl_lst[${i}].OpBal" type="text" value="${$("#OpeningBalance").val()}" tabindex="-1" readonly="readonly" />

                                             </td>
                                                      <td>
                                                   <input id="AccountDtl_lst_${i}__type" name="AccountDtl_lst[${i}].type" type="text" value="${$("#sltCrAmt").val().replace('"', '')}" tabindex="-1" readonly="readonly" />

                                                     </td>
                                             <td>
                                                 <input id="AccountDtl_lst_${i}__ModeForm" name="AccountDtl_lst[${i}].ModeForm" type="hidden" value="0" />
                                                 <button type="button" class="btn grid-close-btn" onclick="RowAction(this,${i},\'del\')">
                                                     <i class="bi bi-x-circle"></i>
                                                 </button>
                                             </td>
                                             </tr>`;
                    $("#tblOpeningBalance tbody").append(html);
                }
            }

            DropDownReset('FkLocationId_OpBal');
            $("#OpeningBalance").val('0.0');
            return false;
        }
    </script>
    <script>
        function AddLocation() {
            var foundL = false;
            if ($("#drpFkLocationId").val().replace('"', '').replace('"', '') == "") {
                Alertdialog("Please Select Location");
                return false;
            }
            else {
                $('#tblLocationLoc tbody tr').each(function (index) {
                    var val = $('#AccountLocation_lst_' + index + '__FKLocationID').val();
                    var vald = $("#AccountLocation_lst_" + index + "__ModeForm").val();
                    if (val == $("#FkLocationId").val()) {
                        foundL = true;
                        if (vald == '2') {
                            RowAction($("#AccountLocation_lst_" + index + "__ModeForm").next(), index, 'undo');
                        };
                    }
                });

                if (foundL == false) {
                    var i = $('#tblLocationLoc tbody tr').length;
                    var html = `<tr index="${i}">
                                                                                <td>
                                                                                    <input id="AccountLocation_lst_${i}__Location" name="AccountLocation_lst[${i}].Location" type="text" value="${$("#drpFkLocationId").val().replace('"', '').replace('"', '')}" tabindex="-1" readonly="readonly" />
                                                                                            <input id="AccountLocation_lst_${i}__FKLocationID" name="AccountLocation_lst[${i}].FKLocationID" type="hidden" value="${$("#FkLocationId").val()}" />

                                                                                </td>
                                                                                <td>
                                                                                    <input id="AccountLocation_lst_${i}__ModeForm" name="AccountLocation_lst[${i}].ModeForm" type="hidden" value="0" />
                                                                                    <button type="button" class="btn grid-close-btn" onclick="RowAction(this,${i},\'del\')">
                                                                                        <i class="bi bi-x-circle"></i>
                                                                                    </button>
                                                                                </td>
                                                                                </tr>`;
                    $("#tblLocationLoc tbody").append(html);
                }
            }

            DropDownReset('FkLocationId');
            return false;
        }

        function RowAction(obj, index, action) {
            debugger;
            if (action == 'del') {
                $(obj).attr('onclick', `RowAction(this,${i},\'undo\')`);
                $(obj).html('<i class="bi bi-arrow-counterclockwise"></i>');
                $(obj).closest('tr').addClass('tbl-delete');
                $(obj).prev("input[id$='__ModeForm']").val('2');
                $(obj).closest('tr').find(".action-icon").css("pointer-events", "none");
            }
            else if (action == 'undo') {
                $(obj).attr('onclick', `RowAction(this,${i},\'del\')`)
                $(obj).html('<i class="bi bi-x-circle"></i>');
                $(obj).closest('tr').removeClass('tbl-delete');
                $(obj).prev("input[id$='__ModeForm']").val('0');
                $(obj).closest('tr').find(".action-icon").css("pointer-events", "all");
            }
        }
    </script>
    <script>
        function AutoGenerateAlias() {
            $(".loader").show();
            $.ajax({
                type: "POST",
                url: Handler.currentPath() + 'AutoGenerateAlias',
                //data: { model: tranModel, rowIndex: rowIndex, fieldName: fieldName },
                datatype: "json",
                success: function (res) {
                    debugger;
                    if (res.status == "success") {
                        $('#Alias').val(res.data);
                    }
                    else
                        alert(res.msg);

                    $(".loader").hide();
                }
            });
        }
    </script>
                }


