@model SSRepository.Models.AccountMasModel
 
@{
    ViewData["Title"] = "Ledger Account";
    ViewData["bdClass"] = "page";
}
<style>
    tr.tbl-delete, tr.tbl-delete input {
        background: red;
    } 
    .shelf-tblProdLoc input{
    border:none;}
</style>
<div class="p-3">
    <form asp-action="Create" class="g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkAccountId" />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Master Group </label>
                            <select asp-for="FkAccountGroupId" asp-items="@(new SelectList(ViewBag.AccountGroupList,"PkAccountGroupId","AccountGroupName"))" class="form-control" id="FkAccountGroupId">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Account</label>
                            <input asp-for="Account" class="form-control" />
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Alias</label>
                            <input asp-for="Alias" class="form-control" />
                            <span asp-validation-for="Alias" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <a href="#" class="btn btn-warning mt-2">Auto Generate</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <textarea asp-for="Address" class="form-control"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Station</label>
                            <input asp-for="Station" class="form-control" />
                            <span asp-validation-for="Station" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Locality</label>
                            <input asp-for="Locality" class="form-control" />
                            <span asp-validation-for="Locality" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Pincode</label>
                            <input asp-for="Pincode" class="form-control  input-number" maxlength="6" pattern="PinCode" />
                            <span asp-validation-for="Pincode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Phone </label>
                            <input asp-for="Phone1" class="form-control  input-number" />
                            <span asp-validation-for="Phone1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Mobile</label>
                            <input asp-for="Phone2" class="form-control  input-number" />
                            <span asp-validation-for="Phone2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Bank</label>
                            <select asp-for="FKBankID" asp-items="@(new SelectList(ViewBag.BankMasList,"PkBankId","BankName"))" class="form-control" id="FKBankID" onchange="FillIFSC()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Account No</label>
                            <input asp-for="AccountNo" class="form-control input-number" type="text" />
                            <span asp-validation-for="AccountNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">IFSC Code</label>
                            <input id="IFSCCode" class="form-control" type="text" readonly="readonly" />

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                    <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <div class="d-flex">
                                <div class="radio-class mr-3">
                                    <input asp-for="Status" class="radios__input" name="Status" id="StatusContinue" type="radio" value="Continue" checked>
                                    <label class="label" for="StatusContinue">Continue</label>
                                </div>
                                <div class="radios__item mr-3">
                                    <input asp-for="Status" class="radios__input" name="Status" id="StatusDisContinue" type="radio" value="DisContinue">
                                    <label class="label" for="StatusDisContinue">DisContinue</label>
                                </div>
                            </div>
                            <span asp-validation-for="Status" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mt-3">
                            <input asp-for="DiscDate" class="form-control" type="date" />
                            @*    @Html.TextBoxFor(m => m.DiscDate, "{0:dd/MM/yyyy}", new { @class = "form-control", autocomplete = "off" })
                            @Html.TextBoxFor(x => x.DiscDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date"})
                            *@   <span asp-validation-for="DiscDate" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
                <div class="border p-4">
                    <h4>License Detail</h4>
                    @for (int i = 0; i < 6; i++)
                    {
                        int No = i + 1;
                        var _data = Model.AccountLicDtl_lst.Count > 0 ? Model.AccountLicDtl_lst.Where(x => x.No == No.ToString()).FirstOrDefault() : null;
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">License @No</label>
                                <input id="@("AccountLicDtl_lst_"+i+"_Description")" name="AccountLicDtl_lst[@i].Description" type="text" value="@(_data!=null?_data.Description:"")">
                                <input id="@("AccountLicDtl_lst_"+i+"_No")" name="AccountLicDtl_lst[@i].No" type="hidden" value="@No">
                                <input id="@("AccountLicDtl_lst_"+i+"_PKAccountLicDtlId")" name="AccountLicDtl_lst[@i].PKAccountLicDtlId" type="hidden" value="@(_data!=null?_data.PKAccountLicDtlId:0)">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Issue Date</label>
                                    @if (_data != null)
                                    {
                                        <input asp-for="@_data.IssueDate" class="form-control" type="date" id="@("AccountLicDtl_lst_"+i+"_IssueDate")" name="AccountLicDtl_lst[@i].IssueDate" />
                                    }
                                    else
                                    {
                                        <input id="@("AccountLicDtl_lst_"+i+"_IssueDate")" name="AccountLicDtl_lst[@i].IssueDate" type="date" class="form-control" maxlength="10">
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Valid Till</label>
                                    @if (_data != null)
                                    {
                                        <input asp-for="@_data.ValidTill" class="form-control" type="date" id="@("AccountLicDtl_lst_"+i+"_ValidTill")" name="AccountLicDtl_lst[@i].ValidTill" />
                                    }
                                    else
                                    {
                                        <input id="@("AccountLicDtl_lst_"+i+"_ValidTill")" name="AccountLicDtl_lst[@i].ValidTill" type="date" class="form-control" maxlength="10">
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="row">
                 

                </div>
            </div>

            <div class="col-md-8">
                <div class="border p-4">
                    <h4>Opening Location</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @*<label class="control-label">Bank</label>*@
                                <select asp-items="@(new SelectList(Model.AccountLocation_lst,"FKLocationID","BranchName"))" class="form-control" id="FklocalityGridId">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="OpeningBalance" class="form-control input-Amount" type="text" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <div class="d-flex">
                                    <div class="radio-class mr-3">
                                        <input class="radios__input DrCr" name="DrCr" id="rbtdr" type="radio" value="Dr">
                                        <label class="label" for="rbtdr">Dr</label>
                                    </div>
                                    <div class="radios__item mr-3">
                                        <input class="radios__input DrCr" name="DrCr" id="rbtcr" type="radio" value="Cr" checked>
                                        <label class="label" for="rbtcr">Cr</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="hidden" id="hidLocationIndex" autocomplete="off" value="">
                                <input type="button" class="btn btn-warning" value="Add" onclick="addLocations()" autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <table id="tblLocation" class="shelf-tblProdLoc table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Location</th>
                                        <th>Balance</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="md-height">
                                    @{
                                        int AcNo = -1;
                                    }
                                    @for (int i = 0; i < Model.AccountDtl_lst.Count; i++)
                                    {
                                        AcNo++;
                                        <tr index="0">
                                            <td class="tabel-xs-larg-class">
                                                <input readonly="readonly" id="AccountDtl_lst_@(i)__Location" name="AccountDtl_lst[@(i)].Location" type="text" value="@Model.AccountDtl_lst[i].Location" tabindex="-1" class="valid" aria-invalid="false">
                                                <input id="AccountDtl_lst_@(i)__FKLocationID" name="AccountDtl_lst[@i].FKLocationID" type="hidden" value="@Model.AccountDtl_lst[i].FKLocationID">
                                                <input id="AccountDtl_lst_@(i)__PKAccountDtlId" name="AccountDtl_lst[@i].PKAccountDtlId" type="hidden" value="@Model.AccountDtl_lst[i].PKAccountDtlId">
                                            </td>
                                            <td class="tabel-td-xs">
                                                <input readonly="readonly" id="AccountDtl_lst_@(i)__OpBal" name="AccountDtl_lst[@i].OpBal" type="text" value="@Model.AccountDtl_lst[i].OpBal" tabindex="-1">
                                            </td>
                                            <td class="tabel-td-xs">
                                                <input readonly="readonly" id="AccountDtl_lst_@(i)__type" name="AccountDtl_lst[@i].type" type="text" value="@Model.AccountDtl_lst[i].type" tabindex="-1">
                                            </td>
                                            <td class="tabel-td-xs">
                                                <input id="AccountDtl_lst_@(i)__Mode" name="AccountDtl_lst[@i].Mode" type="hidden" value="@Model.AccountDtl_lst[i].Mode"> 
                                                <span class="action-icon" onclick="UpdateLocation(this,@i,'edit')">
                                                    <i class="fa fa-edit"></i>
                                                </span>  &nbsp; | &nbsp; <span class="action-icon" onclick="UpdateLocation(this,@i,'del')">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </td>
                                        </tr>



                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border p-4">
                    <h4>Location</h4>
                    <ul class="list-inline">
                        @for (int i = 0; i < Model.AccountLocation_lst.Count; i++)
                        {

                            <li>
                                @Html.CheckBoxFor(m => m.AccountLocation_lst[i].Selected, new { })
                                @Html.HiddenFor(m => m.AccountLocation_lst[i].FKLocationID)
                                @Html.LabelFor(m => m.AccountLocation_lst[i].Selected,
                            Model.AccountLocation_lst[i].BranchName)
                                <input id="AccountLocation_lst@(i)__PKAccountLocLnkId" name="AccountLocation_lst[@i].PKAccountLocLnkId" type="hidden" value="@Model.AccountLocation_lst[i].PKAccountLocLnkId">

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<input type="hidden" id="hdBankMasList" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.BankMasList)" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            Common.InputFormat();
            setDiscDate();
            FillIFSC();
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });

            $('input[name="Status"]').on("change", function (e) {
                $('#DiscDate').val('');
                setDiscDate();
            });
        })
        function setDiscDate() {

            if ($('input[name="Status"]:checked').val() == "Continue") {
                $('#DiscDate').attr('readonly', 'readonly');
            }
            else {
                $('#DiscDate').removeAttr('readonly');

            }
        }
        function FillIFSC() {

            var FKBankID = $("#FKBankID").val();
            var bankList = JSON.parse($("#hdBankMasList").val());

            $("#IFSCCode").val(bankList.filter(v => v.PkBankId == FKBankID)[0].IFSCCode);
        }
    </script>

    <script>
        function addLocations() {

            var rowCount = $('#tblLocation tr').length;
            var index = $("#hidLocationIndex").val();
            var Exists = false;

            var locid = $("#FklocalityGridId").val();
            if (locid > 0) {
                $('#tblLocation tr').each(function (ind) {

                    if ($("#AccountDtl_lst_" + ind + "__FKLocationID").val() === locid && index !== ind.toString() && $("#AccountDtl_lst_" + ind + "__Mode").val() != '2') {
                        alert("Already Exists");
                        Exists = true;
                    }
                });
                if (!Exists) {


                    if (index === "") {
                        var html = '<tr index="' + rowCount + '">';
                        html += '<td class="tabel-xs-larg-class">  <input readonly="true" id="AccountDtl_lst_' + rowCount + '__Location" name="AccountDtl_lst[' + rowCount + '].Location" type="text" value="' + $("#FklocalityGridId :selected").text() + '" tabindex="-1"> ';
                        html += ' <input id="AccountDtl_lst_' + rowCount + '__FKLocationID" name="AccountDtl_lst[' + rowCount + '].FKLocationID" type="hidden" value="' + $("#FklocalityGridId").val() + '"> </td>';

                        html += '<td class="tabel-td-xs">  <input readonly="true" id="AccountDtl_lst_' + rowCount + '__OpBal" name="AccountDtl_lst[' + rowCount + '].OpBal" type="text" value="' + $("#OpeningBalance").val() + '" tabindex="-1"> </td>';
                        html += '<td class="tabel-td-xs">  <input readonly="true" id="AccountDtl_lst_' + rowCount + '__type" name="AccountDtl_lst[' + rowCount + '].type" type="text" value="' + $(".DrCr:checked").val() + '" tabindex="-1"> </td>';
                        html += '<td class="tabel-td-xs"> <input id="AccountDtl_lst_' + rowCount + '__Mode" name="AccountDtl_lst[' + rowCount + '].Mode" type="hidden" value="0"> <span class="action-icon" onclick="UpdateLocation(this,' + rowCount + ',\'edit\')"><i class="fa fa-edit" /></span> ';
                        html += ' &nbsp; | &nbsp; <span class="action-icon" onclick="UpdateLocation(this,' + rowCount + ',\'del\')"><i class="fa fa-trash" /></span> </td>';

                        html += '</tr>';

                        $("#tblLocation tbody").append(html);
                    } else {

                        $("#AccountDtl_lst_" + index + "__Location").val($("#FklocalityGridId :selected").text());
                        $("#AccountDtl_lst_" + index + "__FKLocationID").val($("#FklocalityGridId").val());
                        $("#AccountDtl_lst_" + index + "__OpBal").val($("#OpeningBalance").val());
                        $("#AccountDtl_lst_" + index + "__type").val($(".DrCr:checked").val());
                        //  $("#AccountDtl_lst_" + index + "__Mode").val('1');

                    }
                    $("#OpeningBalance").val('0.0');
                    $("#FklocalityGridId").val('');
                    $("#hidLocationIndex").val('');
                    //$("#FklocalityGridId").prop('selectedIndex', 0);
                    //DropDownReset('FklocalityGridId');
                }
            }
            else { alert("Select Location"); }
            // }
            return false;
        }

        function UpdateLocation(obj, index, action) {
            if (action === 'edit') {
                $("#hidLocationIndex").val(index);
                $("#FklocalityGridId").val($("#AccountDtl_lst_" + index + "__FKLocationID").val());
                // $("#drpFklocalityGridId").val($("#AccountDtl_lst_" + index + "__location").val());
                $("#OpeningBalance").val($("#AccountDtl_lst_" + index + "__OpBal").val());
                $('#thDrCr').find("input[value='" + $("#AccountDtl_lst_" + index + "__type").val() + "']").prop('checked', true);
                $(obj).closest('tr').removeClass('tbl-delete');
            } else if (action === 'del') {
                $(obj).closest('tr').addClass('tbl-delete');
                $("#AccountDtl_lst_" + index + "__Mode").val('2');
            }
        }
    </script>

                }


