@model SSRepository.Models.EmployeeModel

@{
    ViewData["Title"] = "Employee";
    ViewData["bdClass"] = "page";
    }
<div class="p-4">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PkEmployeeId" />
        <input type="hidden" asp-for="IsAadharVerify" />
        <input type="hidden" asp-for="IsPanVerify" />
        <input type="hidden" asp-for="Status" />
        <div class="row">
            <div class="col-md-8">

                <div class="form-group row">
                    <label class="col-sm-2">Name</label>
                    <div class="col-md-6">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Alias</label>
                    <div class="col-md-6">
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <button type="button" onclick="GenerateAlias()" class="btn btn-warning">
                            <i class="bi bi-gear-fill" style="color: black;"></i>
                            &nbsp;&nbsp;Auto Generate

                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Address</label>
                    <div class="col-md-6">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">State / City</label>
                    <div class="col-md-3">
                        <select asp-for="StateName" asp-items="@(new SelectList(ViewBag.StateList,"Value","Text"))" class="form-select" onchange="BindCity()">
                        </select>
                        <span asp-validation-for="StateName" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <select asp-for="FkCityId" class="form-select">
                            <option value="">-Select-</option>
                        </select>
                        <span asp-validation-for="FkCityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Pin / Dob</label>
                    <div class="col-md-3">
                        <input asp-for="Pin" class="form-control  input-number" maxlength="6" pattern="PinCode" />
                        <span asp-validation-for="Pin" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Mobile / Email</label>
                    <div class="col-md-3">
                        <input asp-for="Mobile" class="form-control input-number" pattern="Mobile" maxlength="10" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Email" class="form-control" pattern="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Marital</label>
                    <div class="col-md-2">
                        <div class="form-switch d-flex form-switch form-check">
                            <input asp-for="Marital" class="form-check-input" id="MaritalSingle" type="radio" value="Single" checked>
                            <label class="ms-1">Single</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-switch d-flex form-switch form-check">
                            <input asp-for="Marital" class="form-check-input" id="MaritalMarried" type="radio" value="Married">
                            <label class="ms-1">Married</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Gender</label>
                    <div class="col-md-2">
                        <div class="form-switch d-flex form-switch form-check">
                            <input asp-for="Gender" class="form-check-input" id="GenderMale" type="radio" value="Male" checked>
                            <label class="ms-1">Male</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-switch d-flex form-switch form-check">
                            <input asp-for="Gender" class="form-check-input" id="GenderFemale" type="radio" value="Female">
                            <label class="ms-1">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Post / Salary</label>
                    <div class="col-md-3">
                        <input asp-for="Post" class="form-control" maxlength="18" />
                        <span asp-validation-for="Post" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Salary" class="form-control input-number" maxlength="18" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Aadhar / Pan</label>
                    <div class="col-md-3">
                        <input asp-for="Aadhar" class="form-control  input-number" maxLength="12" data-inputmask="'mask': '9999-9999-9999'" />
                        <span asp-validation-for="Aadhar" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Panno" class="form-control" pattern="Pan" maxlength="12" />
                        <span asp-validation-for="Panno" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">GSTIN </label>
                    <div class="col-md-3">
                        <input asp-for="Gstno" class="form-control" maxlength="18" />
                        <span asp-validation-for="Gstno" class="text-danger"></span>
                    </div>
                </div>

                <h4>Image</h4>
                <hr />
                <div class="form-group row">
                    <label class="col-sm-2">Aadhar Front</label>
                    <div class="col-md-5">
                        <input type="file" id="file_AadharCardFront" onchange="return UploadImage('AadharCardFront')" accept="image/*" class="form-control" />
                        <input asp-for="AadharCardFront" type="hidden" />
                        <span asp-validation-for="AadharCardFront" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <img id="dummyimage_AadharCardFront" class="" style="height: 50px;width: 50px;@(string.IsNullOrEmpty(Model.AadharCardFront) ? "display:none" : "")" src="@Model.AadharCardFront" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2">Aadhar Back</label>
                    <div class="col-md-5">
                        <input type="file" id="file_AadharCardBack" onchange="return UploadImage('AadharCardBack')" accept="image/*" class="form-control" />
                        <input asp-for="AadharCardBack" type="hidden" />
                        <span asp-validation-for="AadharCardBack" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <img id="dummyimage_AadharCardBack" class="" style="height: 50px;width: 50px;@(string.IsNullOrEmpty(Model.AadharCardBack) ? "display:none" : "")" src="@Model.AadharCardBack" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Pan</label>
                    <div class="col-md-5">
                        <input type="file" id="file_PanCard" onchange="return UploadImage('PanCard')" accept="image/*" class="form-control" />
                        <input asp-for="PanCard" type="hidden" />
                        <span asp-validation-for="PanCard" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <img id="dummyimage_PanCard" class="" style="height: 50px;width: 50px;@(string.IsNullOrEmpty(Model.PanCard) ? "display:none" : "")" src="@Model.PanCard" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Passport</label>
                    <div class="col-md-5">
                        <input type="file" id="file_Passport" accept="image/*" class="form-control" onchange="return UploadImage('Passport')" />
                        <input asp-for="Passport" type="hidden" />
                        <span asp-validation-for="Passport" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <img id="dummyimage_Passport" class="" style="height: 50px;width: 50px;@(string.IsNullOrEmpty(Model.Passport) ? "display:none" : "")" src="@Model.Passport" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Signature</label>
                    <div class="col-md-5">
                        <input type="file" id="file_Signature" accept="image/*" class="form-control" onchange="return UploadImage('Signature')" />
                        <input asp-for="Signature" type="hidden" />
                        <span asp-validation-for="Signature" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <img id="dummyimage_Signature" class="" style="height: 50px;width: 50px;@(string.IsNullOrEmpty(Model.Signature) ? "display:none" : "")" src="@Model.Signature" />
                    </div>
                </div>
        </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            Common.InputFormat();
            BindCity(@Model.FkCityId);
            $('#btnServerSave').click(function (e) {
                e.preventDefault();
                $("form").submit();
            });
        })
        UploadImage = (id) => {
            var file = document.querySelector('input[id="file_' + id + '"]').files[0];
            // $("#FileName").val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#" + id).val(reader.result);
                $("#dummyimage_" + id).attr("src", reader.result);
                $("#dummyimage_" + id).show();
                //   $("#myImage").hide();

            };
        }
    </script>
    <script>
        function BindCity(CityId) {
            
            var StateName = $("#StateName").val();
            $("#FkCityId").empty();
            //

            if (StateName != '') {

                $.ajax({
                    type: "POST",
                    url: '/Master/City/GetDrpCityByState',
                    data: { State: StateName },
                    datatype: "json",
                    success: function (res) {
                        console.log(res);
                        $(res).each(function (i, v) {

                            $("#FkCityId").append("<option value='" + v.PKID + "'>" + v.CityName + "</option>");
                        });

                        if (CityId > 0) {
                            $("#FkCityId").val(CityId);
                        }
                    }
                })

            } else { $("#FkCityId").append("<option value=''>-Select-</option>"); }
        }
    </script>
      }