@model SSRepository.Models.BarcodePrintModel

@{
    Layout = null;
    string Height = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_Height").FirstOrDefault().SysDefValue;
    string width = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_width").FirstOrDefault().SysDefValue;
    string MarginTop = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_MarginTop").FirstOrDefault().SysDefValue;
    string MarginBottom = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_MarginBottom").FirstOrDefault().SysDefValue;
    string MarginLeft = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_MarginLeft").FirstOrDefault().SysDefValue;
    string MarginRight = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_MarginRight").FirstOrDefault().SysDefValue;
    string BarcodeHeight = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_BarcodeHeight").FirstOrDefault().SysDefValue;
    string _ColumnInPerRow = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_ColumnInPerRow").FirstOrDefault().SysDefValue;
    string MarginBetWeenRowColumn = @Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_MarginBetWeenRowColumn").FirstOrDefault().SysDefValue;
    int fontsize = Convert.ToInt32(@Model.SysDefaults.Where(x => x.SysDefKey == "BarcodePrint_FontSize").FirstOrDefault().SysDefValue);
    int ColumnInPerRow = Convert.ToInt32(_ColumnInPerRow);
    //int fontsize = 18;
}

<div>
    <a href="javascript:void(0)" class="btn btn-success m-2" id="btnPrintBarcode">Print</a>
    <input type="hidden" id="ColumnInPerRow" value="@ColumnInPerRow" />
</div>
<div id="printpage" style="width:@(( Convert.ToInt32(width)* Convert.ToInt32(ColumnInPerRow)+(ColumnInPerRow>1?Convert.ToInt32(MarginBetWeenRowColumn):0))+"px");">
    <style>

        #myHeader {
            display: none;
        }

    </style>
    @{
        int sno = 0;
    }
    @foreach (var item in Model.BarcodePrintPreviewModel)
    {
        sno++;
        <div style="margin-bottom:10px;@(ColumnInPerRow>1?("width: "+width+"px;float: left; "):"") @(sno % ColumnInPerRow == 0?"margin-left:"+MarginBetWeenRowColumn+"px":"")" class="abcd">
            <table style="height:@(Height+"px");width:@(width+"px");margin-top:@(MarginTop+"px");margin-bottom:@(MarginBottom+"px");margin-left:@(MarginLeft+"px");margin-right:@(MarginRight+"px");">
                <tbody>
                    <tr>
                        <td colspan="6" style="text-align: center;">
                            @*<img src="~/barcode/barcode.jpg" style="height:@(BarcodeHeight+"px");" />
                        *@
                            <img src="@SSAdmin.Constant.Helper.StringToBarcode((item.Barcode))" style="width:100%;max-height:@(BarcodeHeight+"px");">

                            <h5 style="letter-spacing: 10px;"> @item.Barcode</h5>

                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h3 style="font-size:@(fontsize+"px");margin: 0;padding: 0;margin-top: 4px;"> MRP</h3>
                        </td>
                        <td colspan="4"> <h3 style="font-size:@(fontsize+"px");margin: 0;padding: 0;margin-top: 4px;">: RS. @item.MRP/-</h3></td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3 style="font-size:@(fontsize+"px"); margin: 0;padding: 0;margin-top: 4px;">Size</h3>   </td>
                        <td colspan="4"> <h3 style="font-size:@(fontsize+"px");margin: 0;padding: 0;margin-top: 4px;">: @item.Batch</h3></td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3 style="font-size:@(fontsize+"px"); margin: 0;padding: 0;margin-top: 4px;">Artical</h3>   </td>
                        <td colspan="4"> <h3 style="font-size:@(fontsize+"px");margin: 0;padding: 0;margin-top: 4px;">: @item.Product</h3></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: justify;">
                            <h3 style="font-size:@(fontsize+"px");margin: 0;padding: 0;margin-top: 4px;margin-bottom: 5px;">@item.BranchName</h3>
                       </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

</div>

