@using Microsoft.AspNetCore.Http
@{

    var ID = Convert.ToString(ViewData["ID"]);
    var drpList = "drpList" + ID;
    var name = Convert.ToString(ViewData["name"]) ?? "drp" + ID;
    var text = Convert.ToString(ViewData["text"]) ?? "";
    var val = Convert.ToString(ViewData["value"]) ?? "";
    var action = Convert.ToString(ViewData["event"])?? "";
    var ParentValue = Convert.ToString(ViewData["parentid"]) ?? "";
    var uri = Convert.ToString(ViewData["uri"]) ?? "";
    var required = Convert.ToString(ViewData["required"]) ?? "";
    var placeholder = Convert.ToString(ViewData["placeholder"]) ?? "";
    var ExtraValue = Convert.ToString(ViewData["ExtraParam"]) ?? "";
    

}
<div id="@drpList" class="ui-custom-DropDown  val-cus-drp" extraparam="@ExtraValue" event="@action" parent="@ParentValue" uri="@uri">
    <input id="@ID" name="@ID" type="hidden" value="@val">
    <input id="@name" name="@name" class="form-control ui-custom-DropDown-input" autocomplete="off" type="text" value="@text" placeholder="@placeholder" @required>
    <span class="down"><i class="fas fa-caret-down"></i></span>
</div>


