@using Microsoft.AspNetCore.Http
@{

    var ID = Convert.ToString(ViewData["ID"]);
    var drp = "drp" + ID;
    var drpList = "drpList" + ID;
    var text = Convert.ToString(ViewData["text"]) == "" ? "" : Convert.ToString(ViewData["text"]);
    var val = Convert.ToString(ViewData["value"]);
    var eventname = Convert.ToString(ViewData["event"]);
    var ParentValue = Convert.ToString(ViewData["parentid"]);
    var uri = Convert.ToString(ViewData["uri"]);    
    var ExtraValue = Convert.ToString(ViewData["ExtraParam"]);
    

}
<div id="@drpList" class="ui-custom-DropDown  val-cus-drp" extraparam="@ExtraValue" event="@eventname" parent="@ParentValue" uri="@uri">
    <input id="@ID" name="@ID" type="hidden" value="@val">
    <input id="@drp" class="form-control ui-custom-DropDown-input" autocomplete="off" type="text" value="@text">
    <span class="down"><i class="fas fa-caret-down"></i></span>
</div>


