@using Microsoft.AspNetCore.Http

@if (Context.Session.GetString("LoginId") == null || Context.Session.GetString("LoginId") == "")
{
    @* Context.Session.SetString("LoginId", Convert.ToString(1));
     Context.Session.SetInt32("IsAdmin", Convert.ToInt32(1));
     Context.Session.SetString("Photo", "/Admin/dist/img/avatar04.png");*@

    Context.Response.Redirect("/Auth");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="~/css/fontawesome-free/css/all.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/SlickGrid/slick.grid.css" rel="stylesheet" />
    <link href="~/css/root.css" rel="stylesheet" />

</head>
<body class="sidebar-mini sidebar-collapse @ViewData["bdClass"] ">
    <input type="hidden" id="hdFormId" value="@ViewBag.FormId" />
    <input type="hidden" id="hdGridName" value="@ViewBag.GridName" />
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="padding: 0.1rem 0.5rem;margin-left: 0rem!important;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="brand-link" style="padding: 0px;">
                        <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8;max-height: 44px;" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <span class="pagetitle">
                        @ViewData["Title"]
                    </span>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item f-ctrl" style="display:none">
                    <input id="btnServerSave" tabindex="-1" type="submit" value="Save" class="btn btn-sm btn-key-83" style="background: #288e8b !important;width: 87px;color: #fff;" />
                    <a asp-action="List" class="btn btn-sm btn-key-65" style="background: #f3bfce !important;width: 87px;color: #fff;">Cancel</a>
                </li>
                <li class="nav-item f-list" style="display:none">
                    <a class="btn btn-create" tabindex="3" id="create_new" href='@Url.Action("Create")'>Create New <i class="fas fa-plus font-aws-icon"></i></a>
                    <a href="javascript:void(0)" id="btnExportToExcel" onclick="ExportToExcel()">
                        <span title="Export" style="border: none;padding: 8px 4px 8px 8px;background-color: #e6e6e6;color:#455a64 !important;">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-down-to-line" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-down-to-line fa-fw"><path fill="currentColor" d="M32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32H352c17.7 0 32 14.3 32 32s-14.3 32-32 32H32zM214.6 342.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 242.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V242.7l73.4-73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-128 128z" class=""></path></svg> <span class="sr-only">Download SVG file</span>
                        </span>
                    </a>
                    <a href="javascript:void(0)" id="btnGridColumn" onclick="ShowGridColumn()" title="Grid layout" style="border: none;padding: 0px 8px;"><i class="fa fa-thin fa-list font-aws-icon"></i></a>

                </li>

                <li class="nav-item f-year">
                    2023 - 2024
                </li>
                <li class="nav-item dropdown user user-menu">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="padding: 0px;">
                        <img src="~/dist/img/img_avatar1.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header text-center">
                            <img src="~/dist/img/img_avatar1.png" class="img-circle" style="width:100px;" alt="User Image" />
                            <p>
                                UserName
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="text-center">
                                <a href="/Auth/Logout" class="btn btn-primary btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="margin-top: 45px;">

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->

                <nav class="mt-2" id="div_Menu">

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link">
                                <i class="fas fa-home nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Master
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Inventory
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">

                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Brand" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Brand<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="CategoryGroup" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Section Group<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Category" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Section<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Product" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Article<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="ProductLot" asp-action="Create" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Article Lot<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Customer/Vendor
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Customer" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Customer
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Vendor" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Vendor
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Accounts
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">

                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="AccountGroup" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Account Group<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="AccountMas" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Ledger Account<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Bank" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Bank<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Locations
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="City" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>City<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Country" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Country
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="State" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    State
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="District" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    District
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Station" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Station
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Zone" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Zone
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Region" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Region
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Area" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Area
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Locality" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>
                                                    Locality
                                                    <i class="right fas fa-external-link-alt tablink"></i>
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>
                                            Resources
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Employee" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Employee</p>
                                                <i class="right fas fa-external-link-alt tablink"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Branch" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Branch<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="Series" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>Series<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Master" asp-controller="User" asp-action="List" class="nav-link">
                                                <i class="far fa-dot-circle nav-icon"></i>
                                                <p>User<i class="right fas fa-external-link-alt tablink"></i></p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Sales
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="SalesOrder" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Order<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="SalesInvoice" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Invoice<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="SalesChallan" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Challan<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="SalesCrNote" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Credit Note<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="SalesReturn" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Return<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="WalkingSalesInvoice" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Walking Invoice<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Purchase
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="PurchaseOrder" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Order<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="PurchaseInvoice" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Invoice<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Voucher
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="JournalVoucher" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Journal Voucher<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="ReceiptVoucher" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Receipt Voucher<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="PaymentVoucher" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Payment Voucher<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Transactions" asp-controller="ContraVoucher" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Contra Voucher<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Report
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a asp-area="Report" asp-controller="PurchaseStock" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Product Wise Purchase<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Report" asp-controller="SalesStock" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Product Wise Sales<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Report" asp-controller="StockDetailReport" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Stock Detail<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Report" asp-controller="RateendStock" asp-action="List" class="nav-link">
                                        <i class="fas fa-clipboard-list nav-icon"></i>
                                        <p>Rate & Stock<i class="right fas fa-external-link-alt tablink"></i></p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @* <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>
                        Import Export
                        <i class="right fas fa-angle-left"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">

                        <li class="nav-item">
                        <a asp-area="Transactions" asp-controller="Import" asp-action="Files" class="nav-link">
                        <i class="fas fa-clipboard-list nav-icon"></i>
                        <p>Import<i class="right fas fa-external-link-alt tablink"></i></p>
                        </a>
                        </li>

                        </ul>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
    <div class="modal fade" id="ProfileUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Your Profile</h5>
                </div>
                <div class="modal-body">
                    <p>Please Update Your Profile</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="updateProfile();">Update Profile</button>
                    <a href="/Home/Index" class="btn btn-secondary">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content pt-1">
            <div class="container-fluid p-0" style="background-color: #fff;min-height: calc(100vh - 67px);">

                @RenderBody()
            </div>
        </div>
    </div>
    <ul id="contextMenu">
        <li id="contextEdit" data="Edit">Edit</li>
    </ul>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/js/common.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.cogrid.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.cofreezgrid.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.coeditors.js"></script>

    <script type="text/javascript" src="~/SlickGrid/lib/firebugx.js"></script>

    <script type="text/javascript" src="~/SlickGrid/lib/jquery-ui-1.11.3.min.js"></script>

    <script type="text/javascript" src="~/SlickGrid/lib/jquery.event.drag-2.2.js"></script>

    <script type="text/javascript" src="~/SlickGrid/plugins/slick.cellrangedecorator.js"></script>

    <script type="text/javascript" src="~/SlickGrid/plugins/slick.cellrangeselector.js"></script>

    <script type="text/javascript" src="~/SlickGrid/plugins/slick.cellselectionmodel.js"></script>

    <script type="text/javascript" src="~/SlickGrid/plugins/slick.rowselectionmodel.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.dataview.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.core.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.formatters.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.editors.js"></script>

    <script type="text/javascript" src="~/SlickGrid/slick.grid.js"></script>

    <script type="text/javascript" src="~/SlickGrid/JsSlickGrd.js"></script>
    <script type="text/javascript" src="~/js/customdropdown.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            //SideMenu();
        });
        function SideMenu() {
            $.ajax({
                chache: false,
                asycn: false,
                type: "GET",
                url: '/Base/_adminSideMenu',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#div_Menu").html('');
                    $("#div_Menu").html(data);
                }
            });
        }
    </script>

</body>
</html>
